.sidebar_shell {
  border: 1px solid $hover-color;
  @include flex-column();
  min-width: fit-content;
  border-radius: 20px;
  overflow: hidden;
  height: fit-content;
}

.sidebar_item {
  padding: 10px 15px;
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include transition();
  position: relative;
  gap: 15px;
  flex: 1;
  height: fit-content;

  @media (hover: hover) {
      &:hover:not(.active) {
        background-color: $hover-color;

        .title {
          //color: $text-color;
        }

        .arrow,
        .icon {
          path {
            //stroke: $text-color;
          }
        }
      }
  }

  &:active {
    background-color: $primary;

    .title {
      //color: $text-color;
    }

    .arrow,
    .icon {
      path {
        //stroke: $text-color;
      }
    }
  }
}

.item_content {
  @include flex-center();
  gap: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  @include flex-center();
  svg {
    width: 100%;
    height: 100%;
    path {
      stroke: $accent;
      stroke-width: 1.5;
      opacity: 1;
      @include transition();
    }
  }
}

.title {
  @include clamped-p3();
  @include transition();
  text-wrap: nowrap;
}

.arrow {
  width: 24px;
  height: 24px;
  opacity: 1;
  transform: rotate(90deg);
  flex-shrink: 0;
  @include transition();

  path {
    stroke-width: 1.5;
    stroke: $hover-color-darken;
    stroke-opacity: 1;
    @include transition();
  }
}

.active {
  background-color: $primary;
  color: $text-color;

  svg {
    path {
      stroke: $text-color;
    }
  }

  .arrow {
    pointer-events: none;
    opacity: 0;
  }
}

@media (max-width: $middle-breakpoint) {
  .sidebar_item {
    padding: 10px;
  }

  .item_content {
    gap: 10px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .icon,
  .arrow {
    width: 20px;
    height: 20px;
  }
}
