.language_changer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  @include transition();

  svg {
    width: 27px;
    height: 27px;
    path {
      @include transition();
      fill: $accent;
    }
  }

  &.active {
    color: $primary;
    svg {
      path {
        fill: $primary;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      color: $primary;

      svg {
        path {
          fill: $primary;
        }
      }
    }
  }

  .language_preview {
    font-size: 20px;
  }
}

.language_changer_modal {
  @include flex-column;
  font-size: 24px;
  gap: 14px;
  align-items: flex-start;
  justify-content: space-between;

  li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
    @include transition(color);

    svg {
      path {
        @include transition(stroke);
        stroke: $text-color;
      }
    }

    &:hover {
      color: $accent;

      svg {
        path {
          stroke: $accent;
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .language_changer {
    gap: 5px;
    font-size: 16px;

    svg {
      width: 20px;
      height: 20px;
    }

    .language_preview {
      font-size: 16px;
    }
  }
  .language_changer_modal {
    font-size: 16px;
    li {
      gap: 20px;
      svg {
        path {
          stroke-width: 1px;
        }
      }
    }
  }
}
