.enter_url_container {
  display: flex;
  align-items: flex-end;
  gap: 20px;

  .input {
    flex: 1;
  }
}

.clip_url_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;

  button {
    margin-bottom: 10px;
  }
}

.clip_url_label {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid $primary;
  text-transform: uppercase;
  @include clamped-p2;
}

.clip_url {
  @include clamped-p2;
  cursor: pointer;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  @include custom-scrollbar();
  padding-bottom: 10px;
  @include transition();
  text-decoration: underline;
  text-decoration-thickness: 1.5px;

  &:hover {
    color: $primary;
  }
}

.clip_container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex: 1;
  min-width: 0;
}

@media (max-width: $mobile-breakpoint) {
  .enter_url_container, .clip_url_container {
    flex-direction: column;
    gap: 10px;
    .input, button {
      width: 100%;
      margin-bottom: 0;
    }
  }
}