.card {
  cursor: pointer;
  padding: 20px;
  border-radius: 20px;
  @include transition(background-color);
  @media (hover: hover) {
    &:hover {
      background-color: $hover-color;
    }
  }
  .photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    outline-offset: 2px;
    margin: 5px;
    outline: 3px solid $primary;
    object-fit: cover;
    background-color: $hover-color;
  }
}