.section {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid $primary;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include clamped-p3;

  h4 {
    @include clamped-h3;
    text-transform: uppercase;
  }
}

.buttons {
  display: flex;
  column-gap: 15px;
  margin-left: auto;
}

.copy_button,
.invite_button {
  width: fit-content;
  @include clamped-p3;
  background-color: $accent;
  color: $text-color;
  padding: 5px 25px;
  border-radius: 30px;
  @include flex-center();
  gap: 5px;
  text-transform: uppercase;
  height: 40px;
  @include transition();
  text-wrap: nowrap;

  svg {
    width: 24px;
    height: 24px;

    path {
      stroke-width: 1.5;
      stroke: $text-color;
      @include transition();
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $background-color;
      color: $text-color-accent;

      svg {
        path {
          stroke: $accent;
          @include transition();
        }
      }
    }
  }
}

.invite_button {
  background-color: transparent;
  box-shadow: 0 0 0 1px $accent inset;
  color: $accent;

  svg {
    path {
      stroke: $accent;
      stroke-width: 1.5;
      @include transition();
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $background-color;
      color: $primary;
      box-shadow: none;

      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }
}

.section_header,
.section_bottom,
.section_middle {
  padding: 15px;
}

.section_middle {
  flex: 1;
}

.section_header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.spend {
  @include clamped-p3;
  border-radius: 30px;
  margin-left: auto;
  padding: 5px 25px;
  text-align: center;
  height: 40px;
  text-wrap: nowrap;
}

.invite_row {
  display: flex;
  gap: 5px;
  align-items: center;
}

.invite_link {
  cursor: pointer;
  color: $text-color;
  text-decoration: underline 1.5px;
  @include clamped-p3;
  align-self: center;
}

.info_circle {
  @include transition();
  @include flex-center;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
  color: $primary-accent;
  border: 1px solid $primary-accent;
  flex-shrink: 0;
  padding: 2px;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      color: $accent;
      border-color: $accent;
    }
  }

  &:active {
    background-color: $primary-accent;
    border-color: $primary-accent;
    color: $background-color;
  }
}

.steps {
  margin: 0;
  padding: 0 15px;
  border-top: 0 solid $primary;
  border-bottom: 0 solid $primary;
  @include clamped-p4;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  max-height: 0;
  @include transition($duration: 0.3s);
  pointer-events: none;

  &.open {
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    padding: 15px;
    margin: 10px 0;
    max-height: 500px;
    pointer-events: auto;
  }
}

.friends {
  span {
    font-weight: 500;
    color: $primary-accent;
  }
}

.highlight {
  color: $primary-accent;
}

.highlighted {
  font-weight: 500;
  color: $primary-accent;
}

.section_bottom {
  background-color: $primary;
  position: relative;
  color: $accent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -40px;
    left: 0px;
    border-bottom-left-radius: 20px;
    box-shadow: -15px 15px 0 2px $primary;
    pointer-events: none;
  }

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -40px;
    right: 0;
    border-bottom-right-radius: 20px;
    box-shadow: 15px 15px 0 2px $primary;
    pointer-events: none;
  }
}

@media (max-width: $sm-breakpoint) {
  .section_bottom {
    flex-direction: column;
    justify-content: center;
  }

  .section_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .friends {
    text-align: center;
  }

  .section_header {
    flex-direction: column;
    justify-content: center;
  }

  .spend {
    margin: 0;
  }

  .buttons {
    margin-left: unset;
  }

  .invite_link_wrapper {
    flex-wrap: nowrap;
    text-wrap: nowrap;
  }
}

@media (max-width: $tablet-breakpoint) {
  .section_header,
  .section_bottom,
  .section_middle {
    padding: 10px;
  }

  .section_bottom {
    flex-direction: column;
    justify-content: center;
  }

  .section_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .friends {
    text-align: center;
  }

  .section_header {
    flex-direction: column;
    justify-content: center;
  }

  .spend {
    margin: 0;
    padding: 5px 30px;
    @include clamped-p3();
    height: 30px;
  }

  .buttons {
    gap: 10px;
    margin-left: unset;
  }

  .copy_button,
  .invite_button {
    height: 30px;
    padding: 5px 20px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .invite_link_wrapper {
    flex-wrap: nowrap;
    text-wrap: nowrap;
  }
}

@media (max-width: $mobile-breakpoint) {
  .section {
    gap: 0;
  }

  .buttons {
    gap: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .spend {
    margin: 0;
    padding: 5px 30px;
    @include clamped-p3();
    height: 30px;
    min-width: 200px;
    max-width: 100%;
    text-wrap: nowrap;
  }

  .section_header {
    flex-direction: column;
    gap: 5px;

    h4 {
      font-size: 18px;
    }
  }

  .steps {
    gap: 3px;
    &.open {
      padding: 10px;
      margin: 5px 0;
    }
  }

  .info_circle {
    width: 20px;
    height: 20px;
  }
}
