.images_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.img_wrapper {
  position: relative;
  width: 175px;
  height: 228px;
  border-radius: 18px;
  border: 0.9px solid $primary;
  background: $hover-color;
  margin-left: -156px;
  overflow: hidden;
  //backdrop-filter: blur(10px);
  //@include transition();

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    //background-color: transparent;
    border-radius: inherit;
    pointer-events: none;
    backdrop-filter: blur(0.5px);
  }

  &.overlay_0::after {
    background-color: transparent;
  }

  &.overlay_1::after {
    background-color: $background-color-02;
  }

  &.overlay_2::after {
    background-color: $background-color-02;
  }

  &.overlay_3::after {
    background-color: $background-color-04;
  }

  &.overlay_4::after {
    background-color: $background-color-06;
  }

  &:first-child {
    margin-left: 0;
  }

  &.no_photo {
    background-color: $hover-color;
    border-color: $hover-color-dark;
  }

  //@media (hover: hover) {
  //  &:hover:not(&:first-child) {
  //    opacity: 1 !important;
  //    z-index: 10 !important;
  //    margin-left: 0;
  //  }
  //}

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
