.page_content {
  @include flex-column();
  gap: 80px;
}

.main_content {
  @include flex-column();
  gap: 10px;
  max-width: 100%;
  width: 100%;
}

.main_content_top {
  display: flex;
  flex-direction: row;
  gap: 5px;
  max-width: 100%;
  width: 100%;
}

.profile,
.settings {
  position: relative;
  @include flex-column();
  gap: 10px;
  padding: 10px 15px;
  border: 1px solid $hover-color;
  border-radius: 20px;
  @include clamped-p3();
}

.section_title {
  @include clamped-p2;
  //color: $tertiary;
  //text-transform: uppercase;
}

.profile {
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.profile_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;

  .user {
    width: 80px;
    height: 80px;

    flex-shrink: 0;
  }
}

.profile_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logout {
  @include flex-center();
  flex-direction: row;
  gap: 5px;
  flex-shrink: 0;
  @include transition();

  svg {
    width: 20px;
    height: 20px;

    path {
      @include transition();
    }
  }

  @media (hover: hover) {
    &:hover {
      color: $error-color;

      svg {
        path {
          fill: $error-color;
          stroke: $error-color;
        }
      }
    }
  }

  &:active {
    color: $error-color;

    svg {
      path {
        fill: $error-color;
        stroke: $error-color;
      }
    }
  }
}

.profile_info {
  @include flex-column();
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.mail,
.support {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: fit-content;

  span {
    text-transform: capitalize;
  }

  svg {
    width: 24px;
    height: 24px;

    path {
      min-width: 100%;
      min-height: 100%;
      stroke-width: 2;
      stroke: $accent;
      opacity: 100%;
    }
  }
}

.mail {
  svg {
    path {
      stroke-width: 1.6;
    }
  }
}

.support {
  a {
    color: $primary-accent;
  }
}

@media (max-width: $middle-breakpoint) {
  .page_content {
    gap: 60px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .main_content_top {
    flex-direction: column;
    gap: 5px;
  }

  .logout {
    svg {
      width: 16px;
      height: 16px;

      path {
        stroke-width: 1.5;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .page_content {
    gap: 30px;
  }

  .main_content {
    gap: 5px;
  }

  .profile,
  .settings {
    padding: 10px 12px;
  }

  .profile_content {
    gap: 10px;

    .user {
      width: 48px;
      height: 48px;
    }
  }

  .mail,
  .support {
    gap: 4px;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .support {
    row-gap: 5px;
  }

  .logout {
    svg {
      width: 16px;
      height: 16px;

      path {
        stroke-width: 1.5;
      }
    }
  }
}
