.main_content {
  @include flex-column();
  gap: 10px;
  max-width: 100%;
  width: 100%;
}

.main_content_top {
  display: flex;
  flex-direction: row;
  gap: 5px;
  max-width: 100%;
  width: 100%;
}

.profile,
.settings {
  @include flex-column();
  gap: 9px;
  padding: 10px 20px;
  box-shadow: 0 0 0 1px $hover-color inset;
  border-radius: 20px;
  @include clamped-p3();
}

.profile {
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  position: relative;
}

.profile_left {
  @include flex-column();
  justify-content: flex-start;
  align-items: flex-start;
  gap: 9px;
}
.left_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6%;
  width: fit-content;

  .user {
    width: 80px;
    height: 80px;

    flex-shrink: 0;
  }
}

.logout {
  @include flex-center();
  flex-direction: row;
  gap: 5px;
  flex-shrink: 0;
  @include transition();
  position: absolute;
  top: 10px;
  right: 20px;

  svg {
    width: 20px;
    height: 20px;

    path {
      @include transition();
    }
  }

  @media (hover: hover) {
    &:hover {
      color: $error-color;

      svg {
        path {
          fill: $error-color;
          stroke: $error-color;
        }
      }
    }
  }

  &:active {
    color: $error-color;

    svg {
      path {
        fill: $error-color;
        stroke: $error-color;
      }
    }
  }
}

.profile_info {
  @include flex-column();
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.mail,
.support {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: fit-content;

  span {
    text-transform: capitalize;
  }

  svg {
    width: 24px;
    height: 24px;

    path {
      min-width: 100%;
      min-height: 100%;
      stroke-width: 2;
      stroke: $accent;
      opacity: 100%;
    }
  }
}

.mail {
  svg {
    path {
      stroke-width: 1.6;
    }
  }
}

.support {
  a {
    color: $primary-accent;
  }
}

@media (max-width: $middle-breakpoint) {
  .left_content {
    gap: 20px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .profile,
  .settings {
    height: 130px;
  }

  .main_content_top {
    flex-direction: column;
    gap: 5px;
  }

  .logout {
    svg {
      width: 16px;
      height: 16px;

      path {
        stroke-width: 1.5;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .profile,
  .settings {
    height: 140px;
    padding: 15px 10px;
    border-radius: 10px;
  }

  .left_content {
    gap: 15px;

    .user {
      width: 60px;
      height: 60px;
    }
  }

  .mail,
  .support {
    gap: 8px;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .support {
    flex-wrap: wrap;
    row-gap: 5px;
  }

  .logout {
    svg {
      width: 16px;
      height: 16px;

      path {
        stroke-width: 1.5;
      }
    }
  }
}
