.languages_list {
  position: relative;
  display: flex;
  justify-self: flex-end;
  gap: 12px;
  height: fit-content;

  @media (max-width: $tablet-breakpoint) {
    & {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    & {
      gap: 10px;
    }
  }
}
