.btn {
  overflow: hidden;
  position: relative;
  @include transition();
  @include flex-center;
  border: 2px solid $accent;
  border-radius: 20px;
  padding: 8px 17px 8px 13px;
  width: 100%;
  flex-shrink: 0;
  font-size: 18px;

  svg {
    width: clamp(20px, 2.5vw, 32px);
    height: clamp(19px, 2.5vw, 32px);
    path {
      @include transition();
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $text-color;
      border-color: $text-color;
      color: $primary;

      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }

  &.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    background-color: $text-color;
    border-color: $text-color;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &:active {
    background-color: $text-color;
    border-color: $text-color;
    svg {
      path {
        stroke: $accent;
      }
    }
  }

  @media (max-width: $middle-breakpoint) {
    & {
      z-index: 5;
      padding: 3px 15px;
      position: absolute;
      bottom: -41px;
      border-width: 1.5px;
      font-size: 16px;
    }

    &.active {
      padding: 3.5px 15px;

      svg {
        width: 21px;
        height: 21px;
      }
    }
  }
}
