.input_wrapper {
  @include clamped-p1;
  position: relative;
  border: 2px solid $text-color;
  border-radius: 30px;
  padding: 5px 15px;
  @include transition();

  input {
    width: 100%;

    &::placeholder {
      color: $background-color;
      opacity: 0.6;
    }
  }

  &.error {
    padding-right: 35px;
    border-color: $error-color;
  }

  &.padding {
    padding-right: 35px;
  }

  &.password {
    padding-right: 55px;
  }

  &.password.error {
    padding-right: 55px;
  }

  &.admin {
    border: 1px solid $accent-glass;
    height: 30px;
    display: flex;
    width: 100%;

    &:focus-within {
      border-color: $primary-accent;
    }
  }

  &.invite {
    border: 1px solid $text-color;

    input {
      width: calc(100% - 10px);
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .input_wrapper {
    padding: 4px 15px;
    border: 1px solid $text-color;

    &.padding {
      padding-right: 25px;
    }

    &.password {
      padding-right: 45px;
    }

    &.error {
      padding-right: 25px;
    }

    &.password.error {
      padding-right: 65px;
    }
  }
}
