.table_component {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.table_wrapper {
  overflow-x: auto;
  border-radius: 10px;
  border: 1px solid $hover-color;
  border-top: none;
  width: 100%;
}

.custom_table_wrapper {
  overflow-x: auto;
}

.table_title {
  width: 100%;
  text-align: center;
  @include clamped-h3;
  text-transform: uppercase;
}

.table {
  width: 100%;
  border-collapse: collapse;
  @include clamped-p3;

  th,
  td {
    padding: 8px;
    text-align: left;

    a {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      @include transition;

      &:hover {
        color: $primary;
      }
    }
  }

  th {
    font-weight: 600;
    background-color: $hover-color;
  }

  tr:nth-child(even) {
    background-color: $hover-color;
  }
}

.custom_table {
  width: 100%;
  border-collapse: collapse;
  @include clamped-p3;
  height: fit-content;
}

.table_grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.table_header {
  position: absolute;
  background-color: $primary;
  padding: 5px;
  border-radius: 40px;
  border: 2px solid $background-color;
  border-right: none;
  height: fit-content;
  height: 100%;

  &:nth-child(odd) {
    background-color: $secondary-lighter;
  }
}
.empty {
  height: 100%;
  padding: 16px;
  text-align: center;
  color: $hover-color-darken;
}

@media (max-width: $tablet-breakpoint) {
  .table_component {
    gap: 10px;
  }
}
