.select_container {
  position: relative;
  @include flex-column();
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 10px;

  @media (max-width: $mobile-breakpoint) {
    align-items: flex-start;
  }
}

.options_wrapper {
  @include flex-column();
  justify-content: flex-start;
  overflow-y: scroll;
  height: 300px;
  @include custom-scrollbar();
  width: 100%;
}

.select_menu {
  position: absolute;
  z-index: 3;
  min-width: 100%;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  @include flex-column();
  justify-content: flex-start;
  align-items: flex-start;
  @include clamped-p3();
  color: $text-color-accent;
  background-color: $background-color;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 $accent-04;
  @include transition();
  visibility: hidden;
  opacity: 0;
  will-change: opacity;

  h6 {
    font-weight: bold;
    margin-bottom: 8px;
  }

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &.down {
    right: 50%;
    top: calc(100% + 10px);
    transform: translateX(50%);
  }

  &.up {
    right: 50%;
    top: unset;
    bottom: calc(100% + 10px);
    transform: translateX(50%);
  }
}
