.main_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 200px;
}

.profile_page_wrapper {
  @include flex-column();
  gap: 140px;
}

@media (max-width: $middle-breakpoint) {
  .profile_page_wrapper {
    gap: 100px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .profile_page_wrapper {
    gap: 80px;
  }
}
@media (max-width: $mobile-breakpoint) {
  .content {
    margin-bottom: 100px;
    padding: 0 10px;
  }

  .profile_page_wrapper {
    gap: 40px;
  }
}
