.modal {
  width: 100%;
  max-width: clamp(246px, 30vw, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  .modal_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;

    .error_message {
      @include clamped-p3;
      color: $error-color;
    }

    span {
      @include clamped-p2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 7px;
      text-align: center;
    }
  }
}

.inputs {
  @include flex-column();
  gap: 20px;
}
