.input_wrapper {
  @include clamped-p1;
  position: relative;
  border-bottom: 2px solid $text-color;
  padding-bottom: 5px;
  padding-right: 35px;

  input {
    border-radius: 5px;
    width: 100%;
    &::placeholder {
      color: $background-color;
      opacity: 0.6;
    }
  }

  &.error {
    border-color: $error-color;

    .error_icon_wrapper {
      position: absolute;
      right: 0;
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      svg {
        circle {
          stroke: $error-color;
        }
        path {
          stroke: $error-color;
        }
      }
    }

    .error_icon {
      user-select: none;
    }

    .tooltip {
      @include transition($property: opacity);
      position: absolute;
      bottom: 110%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $error-color;
      color: $text-color;
      padding: 6px 8px;
      border-radius: 4px;
      white-space: nowrap;
      font-size: 12px;
      opacity: 0;
      pointer-events: none;
      z-index: 1000;
    }

    .error_icon_wrapper:hover .tooltip {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    border-bottom: 1px solid $text-color;
  }
}

.eye {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  svg {
    path {
      @include transition;
      fill: $text-color;
    }
  }

  &:hover {
    svg {
      path {
        fill: $accent;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .input_wrapper {
    svg {
      width: 25px;
      height: 25px;
    }

    &.error {
      .error_icon_wrapper {
        width: 25px;
        height: 25px;
      }
    }
  }

  .eye {
    width: 25px;
    height: 25px;
  }
}
