.banner {
  width: 100%;
  background-color: $primary;
  //height: 80px;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  @include clamped-p2;
  color: $text-color;

  &.sticky {
    @include fadeInMoveFromTop();
    position: fixed;
    padding: 30px 10px 10px;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(1, 67, 61, 0.1);
    @include clamped-h4;
  }

  &.hiding {
    @include fadeOutMoveToTop($duration: 0.4s);
  }

  .banner_container {
    @include container();
    padding: 0;
  }

  .banner_content {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    width: 100%;

    .highlight_text {
      //color: $accent;
      color: $secondary;
      font-weight: 500;
    }

    h4 {
      text-transform: uppercase;
    }
  }

  .timer {
    border: 1.5px solid $background-color;
    border-radius: 15px;
    padding: 3px 15px;
    @include flex-center;
    gap: 15px;
    @include clamped-h3;

    svg {
      width: 35px;
      height: 35px;
      path {
        fill: $background-color;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    & {
      height: unset;

      .banner_content {
        h4 {
          text-align: center;
        }
      }

      .timer {
        padding: 3px 10px;
        gap: 10px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      &.sticky {
        top: 40px;
      }
    }
  }
}
