.stack {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 20px 190px 60px;
}

.menuItem {
  background: none;
  color: var(--mantine-color-body);
  border: 1px solid var(--mantine-color-body);
  border-radius: 40px;
  height: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.menuLabel {
  background: none;
  cursor: pointer;
  color: var(--mantine-color-body);
  border: 1px solid var(--mantine-color-body);
  border-radius: 40px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: grid;

  @media (max-width: $mantine-breakpoint-xs) {
    height: 40px;
  }
}

.menuLabelSelected {
  background: var(--mantine-color-body);
  color: var(--mantine-color-main-3);
  border: 1px solid var(--mantine-color-main-3);
}
