.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 1000;
    opacity: 0;
    @include fadeIn();
    @include lightBlurBackground();

  &.open {
    opacity: 1;
  }

  &.closing {
    @include fadeOut();
  }
}

.top {
    padding: 10vh 4vh 4vh;
    .content {
        width: 100%;
        height: 100%;
    }
}

.fullscreen {
  padding: 10px;
  .content {
    width: 100%;
    height: 100%;
  }
}

.right {
    padding-bottom: 30px;
    justify-content: flex-end;
}

.content {
    @include fadeInMoveFromTop();

    &.closing {
        @include fadeOutMoveToTop();
    }
}

@media (max-width: $mobile-breakpoint) {
  .overlay {
    width: 100vw;
    height: 100dvh;
    padding: 10px 10px calc(90px + env(safe-area-inset-bottom));
    justify-content: center;


    &:not(.fullscreen) {
      @supports (-webkit-overflow-scrolling: touch) {
        &.top {
          padding: 10px 10px calc(40px + env(safe-area-inset-bottom));
        }
        padding: 10px 10px calc(40px + env(safe-area-inset-bottom));
        background-color: unset;
        backdrop-filter: unset;
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background-color: $cart-background;
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          z-index: -1;
          mask-image: linear-gradient(
                          to bottom,
                          rgba(0, 0, 0, 1) 0,
                          rgba(0, 0, 0, 1) 70%,
                          rgba(0, 0, 0, 0) 100%
          );
          mask-repeat: no-repeat;
          mask-size: 100% 100%;
          mask-position: top;
        }
      }
    }
  }

    .top, .right {
        .content {
            width: 100%;
            height: 100%;
        }
    }

  .top {
    padding: 10px 10px 90px;
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .fullscreen {
    padding: 5px;
  }
}
