.content_slider_wrapper {
  width: 100%;
  height: fit-content;

  .custom_nav {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .prev,
    .next {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      @include clamped-p3();
      width: fit-content;

      .label {
        width: fit-content;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include transition($property: color);
      }

      svg {
        width: 35px;
        height: 35px;
      }

      &:hover {
        color: $primary;

        svg {
          path {
            @include transition($property: stroke);
            stroke: $primary;
          }
        }
      }

      @media (max-width: $mobile-breakpoint) {
        gap: 10px;

        svg {
          width: 25px;
          height: 25px;
        }

        .label {
          max-width: 100px;
        }
      }

      &.hidden {
        visibility: hidden;
      }
    }

    .prev {
      margin-right: auto;
    }

    .next {
      margin-left: auto;
      //flex-direction: row-reverse;
      svg {
        transform: scaleX(-1);
      }
    }
  }
}
