.detail_container {
  @include flex-column;
  gap: 80px;
}

.list {
  @include flex-column;
  gap: 40px;

  h2 {
    text-align: center;
    @include clamped-h2;
  }
}

.inner_list {
  @include flex-column;
  gap: 40px;
  padding: 0 40px;
}

.list_header {
  display: flex;
  justify-content: space-between;
}
