.section_wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;

  .buy_section {
    border-radius: 20px;
    color: $accent-glass;
    padding: 30px 15px;
    @include flex-column();
    @include clamped-p2();
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    background-color: $primary-02;

    @media (max-width: $mobile-breakpoint) {
      padding: 25px 10px;
    }

    &.full_width {
      position: relative;
      width: 100%;
      height: 250px;
      z-index: 3;
      background: rgba(237, 248, 255, 0.1);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-top: none;
      box-shadow:
        0 0 20px rgba(0, 0, 0, 0.05),
        inset 0 -10px 10px rgba(237, 248, 255, 1);
      @media (max-width: $tablet-breakpoint) {
        height: fit-content;
      }

      @media (max-width: $mobile-breakpoint) {
        backdrop-filter: blur(10px);
      }
    }

    &.buy {
      @include clamped-p3();
    }

    .buy_text {
      text-align: center;
      width: 100%;
      display: block;
      margin-bottom: 20px;

      .highlight {
        color: $primary-accent;
      }
    }

    .buy_button {
      color: $background-color;
      text-transform: unset;
      padding: 10px 20px;
      width: 80%;
      border-radius: 40px;
      background-color: $primary;
      height: 50px;
      @include transition();
      margin-bottom: 15px;
      @include flex-center();

      @media (max-width: $middle-breakpoint) {
        width: 100%;
      }

      @media (max-width: $tablet-breakpoint) {
        @include clamped-p1();
      }

      &.buy {
        height: 60px;
        margin-bottom: 0;
      }

      .prices {
        @include flex-center();
        gap: 10px;

        .old_price {
          text-decoration: line-through;
          color: $background-color;
        }

        .new_price {
          color: $accent;
          @include transition();
        }
      }

      &:hover {
        background-color: $accent;
        color: $background-color;

        .prices {
          .new_price {
            color: $primary;
          }
        }
      }
    }

    .format_buttons {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 5px;
      max-width: 100%;
      min-width: 100%;
      @include clamped-p3();

      @media (min-width: $sm-breakpoint) {
        column-gap: 12px;
        max-width: 80%;
        min-width: 80%;
      }

      @media (max-width: $sm-breakpoint) {
        column-gap: 10px;
        max-width: 80%;
        min-width: 80%;
      }

      @media (max-width: $middle-breakpoint) {
        column-gap: 5px;
        max-width: 100%;
        min-width: 100%;
      }

      @media (max-width: $tablet-breakpoint) {
        column-gap: 10px;
        max-width: 100%;
        min-width: 100%;
      }

      @media (max-width: $mobile-breakpoint) {
        column-gap: 5px;
      }

      button {
        align-content: center;
        text-align: center;
        background-color: transparent;
        border-radius: 40px;
        height: fit-content;
        min-width: 100%;
        color: $accent;
        border: 1px solid $accent;
        width: fit-content;
        padding: 6px 2px;
        @include transition();

        &:hover {
          background-color: $primary;
          color: $background-color;
          @include transition();
          border: 1px solid transparent;
        }

        @media (max-width: $middle-breakpoint) {
          font-size: 12px;
          padding: 4px;
        }

        @media (max-width: $tablet-breakpoint) {
          @include clamped-p3();
          padding: 8px 0;
        }

        &.full_width {
          @include clamped-p3();
          padding: 10px 0;

          @media (max-width: $tablet-breakpoint) {
            padding: 8px 0;
          }

          @media (max-width: $mobile-breakpoint) {
            padding: 4px 0;
          }
        }

        @media (max-width: $mobile-breakpoint) {
          @include clamped-p3();
          padding: 4px 0;
        }
      }

      .active {
        background-color: $primary;
        color: $background-color;
        @include transition();
        border: 1px solid transparent;
      }
    }
  }

  .tooth {
    position: absolute;
    top: -50%;
    right: 0;
    z-index: -1;

    width: auto;
    height: 530px;
    aspect-ratio: 42/53;

    @media (max-width: $middle-breakpoint) {
      top: -30%;
      height: 430px;
    }

    @media (max-width: $tablet-breakpoint) {
      top: -30%;
      height: 340px;
    }

    @media (max-width: $mobile-breakpoint) {
      height: 320px;
    }

    path {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .buy_section {
    min-height: 200px;
  }
}

.price {
  @include flex-center();
  gap: 10px;
  flex-direction: row;
  color: $accent;
  margin-bottom: 20px;
  @include clamped-h2();

  .old_price {
    color: $primary-accent;
    text-decoration: line-through;
  }

  @media (max-width: $middle-breakpoint) {
    @include clamped-h3();
    margin-bottom: 10px;
  }
}
