.edit_landing {
  @include flex-column;
  gap: 30px;

  h2 {
    text-align: center;
    @include clamped-h2;
  }

  .selects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}