.professors {
  @include flex-column;
  gap: 40px;

  h1 {
    text-transform: uppercase;
  }
}

@media (max-width: $mobile-breakpoint) {
  .professors {
    gap: 25px;
  }

  .search_container {
    gap: 5px;
  }
}
