.search_container {
  @include flex-column;
  gap: 10px;
  p {
    @include clamped-p2;
    text-align: right;
    opacity: 0.8;
  }
}

.professors {
  @include flex-column;
  gap: 60px;

  h1 {
    text-transform: uppercase;
  }
}

@media (max-width: $mobile-breakpoint) {
  .professors {
    gap: 25px;
  }

  .search_container {
    gap: 5px;
  }
}
