.btn {
  position: relative;
  overflow: hidden;
  @include clamped-h3();
  @include transition;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  outline: 2px solid $background-color;
  outline-offset: -2px;
  border-radius: 40px;
  padding: 5px;
  min-height: clamp(40px, 10vw, 50px);

  svg {
    path {
      @include transition();
    }
  }

  &.filled {
    background-color: $background-color;
    color: $accent;

    &.loading {
      outline: unset;
      background-color: $quaternary;
      color: $text-color-accent;
    }
  }

  &.filled_dark {
    outline-color: $accent;
    background-color: $accent;
    color: $text-color;

    &.loading {
      outline: unset;
      background-color: $quaternary;
      color: $text-color;

      svg {
        path {
          stroke: $text-color;
        }
      }
    }
  }

  &.primary {
    background-color: $primary;
    color: $text-color;

    @media (hover: hover) {
      &:hover {
        outline: 2px solid $primary;
        color: $primary;
        background-color: $background-color;
      }
    }
  }

  &.filled_light {
    outline-color: $background-color;
    background-color: $background-color;
    color: $primary;

    &.loading {
      outline: unset;
      background-color: $quaternary;
      color: $text-color-accent;

      svg {
        path {
          stroke: $text-color-accent;
        }
      }
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.65;

    @media (hover: hover) {
      &:hover {
        background-color: $accent;
        color: $text-color;
      }
    }
  }

  &.outlined_dark {
    outline: unset;
    border: 1.5px solid $accent;
  }

  &.loading {
    pointer-events: none;
  }

  @media (hover: hover) {
    &:hover {
      color: $primary;
      background-color: $background-color;

      &.filled {
        background-color: $primary;
        outline: 2px solid $primary;
        color: $text-color;

        svg {
          path {
            fill: $text-color;
          }
        }
      }

      &.filled_dark {
        background-color: $background-color;
        outline-color: $background-color;
        color: $text-color-accent;

        svg {
          path {
            stroke: $text-color-accent;
          }
        }
      }

      &.filled_light {
        background-color: transparent;
        outline-color: $accent;
        color: $text-color-accent;

        svg {
          path {
            stroke: $text-color-accent;
          }
        }
      }

      &.outlined_dark {
        background-color: $primary;
        color: $text-color;
        border-color: $primary;
      }
    }
  }

  &:active {
    color: $primary;
    background-color: $background-color;

    &.outlined_dark {
      background-color: $background-color;
      color: $primary;
      border-color: $primary;
    }

    &.filled_dark {
      outline-color: $background-color;
      color: $text-color-accent;
      svg {
        path {
          stroke: $text-color-accent;
        }
      }
    }

    &.filled_light {
      outline-color: $accent;
      color: $text-color-accent;
      background-color: transparent;
      svg {
        path {
          stroke: $text-color-accent;
        }
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    outline: 1px solid $background-color;
  }
}
