.slide {
  position: relative;
  @include flex-column();
  height: fit-content;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  &.padding {
    padding-top: 60px;
  }

  .head {
    position: absolute;
    top: 0;
    left: 0;
    @include flex-center();
    flex-direction: row;
    gap: 10px;
    height: fit-content;
    h3 {
      @include clamped-h3();

      text-transform: uppercase;
      gap: 15px;
      display: flex;
      flex-direction: row;
      color: $accent;
      align-items: flex-start;

      svg {
        width: 35px;
        height: 35px;

        path {
          stroke-width: 2px;
          stroke: $primary;
        }

        @media (max-width: $mobile-breakpoint) {
          width: 25px;
          height: 25px;
        }
      }
    }

    .date {
      @include clamped-p3();
      text-transform: lowercase;
      color: $hover-color-dark;
      gap: 10px;
      @include flex-center();
      flex-direction: row;
    }

    @media (max-width: $tablet-breakpoint) {
      flex-direction: column;
      align-items: flex-start;

      .date {
        margin-left: 50px;
        @include clamped-p1();
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    @media (max-width: $tablet-breakpoint) {
      width: 100%;
      @include flex-column();
      gap: 30px;

      &::after {
        display: none;
      }
    }

    .description {
      text-align: left;
      @include clamped-p3();
      .heading {
        margin-bottom: 20px;
        display: block;
        width: 45%;
        height: fit-content;

        @media (max-width: $tablet-breakpoint) {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &.padding {
      padding-top: 85px;
    }
  }
}
