.section_wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.section {
  border-radius: 40px;
  color: $accent-glass;
  padding: 30px 15px;
  @include flex-column();
  @include clamped-p2();
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  background-color: $primary-02;

  @media (max-width: $mobile-breakpoint) {
    padding: 25px 10px;
  }
}

.button {
  color: $background-color;
  text-transform: unset;
  padding: 10px 20px;
  width: 80%;
  border-radius: 40px;
  background-color: $primary;
  height: 50px;
  @include transition();
  margin-bottom: 15px;
  @include flex-center();

  @media (max-width: $middle-breakpoint) {
    width: 100%;
  }

  @media (max-width: $tablet-breakpoint) {
    @include clamped-p1();
    margin-top: auto;
    height: 40px;
  }

  &:hover {
    background-color: $accent;
    color: $background-color;
  }
}

.format_buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  max-width: 100%;
  min-width: 100%;
  @include clamped-p3();

  @media (min-width: $sm-breakpoint) {
    column-gap: 12px;
    max-width: 80%;
    min-width: 80%;
  }

  @media (max-width: $sm-breakpoint) {
    column-gap: 10px;
    max-width: 80%;
    min-width: 80%;
  }

  @media (max-width: $middle-breakpoint) {
    column-gap: 5px;
    max-width: 100%;
    min-width: 100%;
  }

  @media (max-width: $tablet-breakpoint) {
    column-gap: 10px;
    max-width: 100%;
    min-width: 100%;
  }

  @media (max-width: $mobile-breakpoint) {
    column-gap: 5px;
  }

  button {
    align-content: center;
    text-align: center;
    background-color: transparent;
    border-radius: 40px;
    height: fit-content;
    min-width: 100%;
    color: $accent;
    border: 1px solid $accent;
    width: fit-content;
    padding: 6px 2px;
    @include transition();

    &:hover {
      background-color: $primary;
      color: $background-color;
      border: 1px solid transparent;
    }

    @media (max-width: $middle-breakpoint) {
      font-size: 12px;
      padding: 4px;
    }

    @media (max-width: $tablet-breakpoint) {
      @include clamped-p3();
      padding: 8px 0;
    }

    @media (max-width: $mobile-breakpoint) {
      @include clamped-p3();
      padding: 4px 0;
    }
  }

  .active {
    background-color: $primary;
    color: $background-color;
    @include transition();
    border: 1px solid transparent;
  }
}

.text {
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 20px;

  .highlight {
    color: $primary-accent;
  }
}


@media (max-width: $tablet-breakpoint) {
  .section {
    min-height: 200px;
  }
}
