fastapi
uvicorn
SQLAlchemy
pymysql
pydantic<2.0.0
pydantic[email]
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
Alembic==1.14.1
python-dotenv==1.0.1
stripe
beautifulsoup4==4.12.2
lxml==5.2.0
python-multipart
pandas
openpyxl
rapidfuzz==3.12.1
aiomysql==0.2.0
jose
rapidfuzz
boto3
botocore
celery
celery[redis]
redis
requests
aiohttp
dnspython
email_validator
Pillow