.main {
  gap: 140px;
  width: 100%;
  align-items: self-start;
  padding-bottom: 220px;

  @media (max-width: $mantine-breakpoint-xs) {
    padding-bottom: 90px;
  }
}

.header {
  gap: 43px;
  width: 100%;
  align-items: self-start;

  @media (max-width: $mantine-breakpoint-xs) {
    /* padding: 47px 20px 0; */
  }
}
