.offer_card {
  .card_header {
    display: flex;
    gap: clamp(30px, 5vw, 50px);
    min-height: clamp(70px, 15vw, 130px);
  }

  .card_header_text {
    @include clamped-h3;
    display: flex;
    max-width: 60%;
    align-items: center;
    padding-left: clamp(24px, 2vw, 50px);
    color: $primary;
    text-transform: uppercase;
  }

  .card_header_background {
    position: relative;
    flex: 1;
    width: 100%;
    background-color: $secondary-lighter;
    box-shadow: 0 4px 0 $secondary-lighter;
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    @include circle-angle(
      $bottom: 0,
      $left: calc(var(--border-radius) * (-2)),
      $size: calc(var(--border-radius) * 2),
      $offset-x: 20px,
      $offset-y: 20px,
      $shadow-color: $secondary-lighter,
      $border-bottom-right-radius: var(--border-radius)
    );
  }

  .card_body {
    @include flex-column;
    gap: 80px;
    background-color: $secondary-lighter;
    border-radius: var(--border-radius) 0 var(--border-radius)
      var(--border-radius);
    padding: 60px 60px 80px 50px;

    .content {
      @include flex-column;
      gap: 20px;

      h6 {
        @include clamped-h2;
        text-transform: uppercase;
      }

      p {
        @include clamped-p2;
      }
    }
  }

  .line_arrow {
    display: flex;
    max-width: 75%;

    span {
      position: relative;
      width: 100%;
      @include horizontal-line(
        $left: 0,
        $top: 50%,
        $width: 100%,
        $transform: y50,
        $color: $accent
      );
    }

    svg {
      width: 66px;
      height: 66px;

      circle {
        stroke: $accent;
        stroke-width: 2px;
      }
      path {
        fill: $accent;
      }
    }
  }

  .lightning {
    path {
      stroke: $background-color;
      stroke-width: 1.5px;
      fill: none !important;
    }
  }

  .card_bottom {
    @include flex-column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }

  .instant_access {
    @include clamped-p1;
    color: $secondary;
    text-align: center;
  }

  .card_bottom_content {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    p {
      @include clamped-h2;
      color: $text-color;
      text-transform: uppercase;
    }

    svg {
      width: 40px;
      height: 40px;

      path {
        fill: $text-color;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    .card_body {
      padding: 50px 20px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    .card_body {
      gap: 20px;
      padding: 40px 20px;
    }

    .line_arrow {
      max-width: 100%;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
