$card-padding-left: 35px;

.highlight {
  color: $primary;
}

.course_program {
  @include flex-column;
  gap: 40px;

  .buy_course {
    text-align: right;
    @include flex-column;
    gap: 20px;
    align-items: end;
  }

  .card_header {
    display: flex;
    gap: 33px;
    align-items: end;

    .lessons_count {
      @include clamped-p2;
      min-width: fit-content;
      text-align: center;
      padding: 4.5px 33.5px;
      border: 2px solid $accent;
      border-radius: var(--border-radius);
      margin: 0 clamp(0px, 0vw, 36px) clamp(15px, 3vw, 40px) 0;
    }
  }

  .card {
    margin-bottom: 40px;

    h6 {
      position: relative;
      @include clamped-h2;
      color: $text-color;
      text-transform: uppercase;
      @include horizontal-line($bottom: -30px, $left: 0, $width: 75%);
    }
  }

  .card_header_background {
    box-shadow: 0 4px 0 $secondary-lighter;
    position: relative;
    max-width: 910px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: clamp(57px, 2vw, 70px) 90px 0 $card-padding-left;
    background-color: $secondary-lighter;

    @include circle-angle(
      $bottom: 0,
      $right: calc(var(--border-radius) * (-2)),
      $size: calc(var(--border-radius) * 2),
      $offset-x: -20px,
      $offset-y: 20px,
      $shadow-color: $secondary-lighter,
      $border-bottom-left-radius: var(--border-radius)
    );
  }

  .card_body {
    @include clamped-p2;
    @include flex-column;
    gap: 30px;
    padding: 60px $card-padding-left 0 $card-padding-left;
    background-color: $secondary-lighter;
    border-radius: 0 var(--border-radius) 0 0;
    min-height: 100px;
    width: 100%;

    .text {
      @include flex-column;
      gap: 30px;
    }

    .arrows_list {
      @include flex-column;
      @include clamped-p3;
      gap: 20px;
    }
  }

  .card_bottom {
    position: relative;
    padding-top: clamp(25px, 5.5vw, 80px);
  }

  .lessons_list {
    @include clamped-p3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: fit-content;
    gap: 30px;
    margin: 0 100px;
    color: $text-color;
    padding: clamp(30px, 4vw, 50px) clamp(30px, 6vw, 105px);
    background-color: $accent-glass;
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);

    .column {
      @include flex-column;
      gap: 40px;

      li {
        position: relative;

        &:not(:last-child) {
          @include horizontal-line(
            $bottom: -21px,
            $left: 0,
            $width: 55%,
            $color: $background-color
          );
        }
      }
    }
  }

  .card_bottom_background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 57%;
    width: 100%;
    background-color: $secondary-lighter;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .program_p {
    @include clamped-p2;
    max-width: 64%;
  }

  @media (max-width: $middle-breakpoint) {
    .lessons_list {
      margin: 0 20px;
      gap: 20px;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    .card {
      margin-bottom: 0;

      h6 {
        margin-bottom: 30px;
      }
    }

    .card_body {
      padding: 20px 20px 0;
    }

    .card_header {
      gap: 12px;
    }

    .card_header_background {
      padding: 0;
      min-height: 70px;
      flex: 1;
    }

    .lessons_list {
      .column {
        gap: 20px;

        li {
          &:not(:last-child) {
            &::after {
              bottom: -10px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    & {
      gap: 25px;
    }

    .lessons_list {
      .column {
        li {
          &:not(:last-child) {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }

    .card_header {
      .lessons_count {
        border-width: 1px;
        padding: 9.5px 26px;
      }
    }

    .card_body {
      .arrows_list {
        gap: 10px;
      }
    }

    .lessons_list {
      grid-template-columns: 1fr;
    }

    .btn_wrapper {
      margin-bottom: unset;
    }

    .program_p {
      max-width: 100%;
    }
  }
}
