$border-radius: 40px;
$card-padding-left: 35px;

.highlight {
  color: $primary;
}

.course_program {
  @include flex-column;
  gap: 40px;

  .card_header {
    display: flex;
    gap: 33px;
    align-items: end;

    span {
      padding: 4.5px 33.5px;
      border: 2px solid $accent;
      border-radius: $border-radius;
      margin-bottom: 40px;
    }
  }

  .card {
    margin-bottom: 40px;
  }

  .card_header_background {
    position: relative;
    max-width: 830px;
    border-radius: $border-radius $border-radius 0 0;
    @include clamped-h2;
    padding: 70px 90px 0 $card-padding-left;
    background-color: $secondary-lighter;
    color: $text-color;
    text-transform: uppercase;

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      bottom: 0;
      right: -80px;
      border-bottom-left-radius: $border-radius;
      box-shadow: -20px 20px 0 2px $secondary-lighter;
      pointer-events: none;
    }
  }

  .card_body {
    @include clamped-p2;
    @include flex-column;
    @include horizontal-line($top: 30px, $left:$card-padding-left, $width: 50%);
    position: relative;
    gap: 30px;
    padding-left: $card-padding-left;
    padding-top: 60px;
    background-color: $secondary-lighter;
    border-radius: 0 $border-radius 0 0;
    min-height: 100px;
    width: 100%;

    .text {
      @include flex-column;
      gap: 30px;
      padding-right: 420px;
    }

    .arrows_list {
      @include flex-column;
      @include clamped-p3;
      padding-right: 50px;
      gap: 20px;

      .list_item {
        display: flex;
        gap: 20px;

        svg {
          width: 40px;
          height: 40px;

          circle {
            stroke-width: 3px;
            stroke: $accent;
          }

          path {
            stroke-width: 3px;
            fill: $accent;
          }
        }

        div {
          @include flex-column;
          justify-content: center;

          ul {
            margin-left: 30px;
            list-style-type: disc;
          }
        }
      }
    }
  }

  .card_bottom {
    position: relative;
    padding-top: 80px;
  }

  .lessons_list {
    @include clamped-p3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 300px;
    gap: 30px;
    margin: 0 100px;
    color: $text-color;
    padding: 50px 105px;
    background-color: $accent-glass;
    backdrop-filter: blur(5px);
    border-radius: $border-radius;

    .column {
      @include flex-column;
      align-items: center;
      gap: 40px;

      li {
        position: relative;

        &:not(:last-child) {
          @include horizontal-line($bottom: -21px, $left:0, $width: 55%, $color: $background-color);
        }
      }
    }
  }

  .card_bottom_background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 215px;
    width: 100%;
    background-color: $secondary-lighter;
    border-radius: 0 0 $border-radius $border-radius;
  }

  .program_p {
    max-width: 64%;
  }

  .btn_wrapper {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    @include horizontal-line($top:50%, $right: 0, $transform: y50, $z: -1);

    @media (max-width: 576px) {
      margin-bottom: unset;
    }
  }

}