.sidebar_wrapper {
  @include flex-column();
  gap: 15px;
  position: sticky;
  top: 120px;
  height: fit-content;
  max-width: 320px;
  width: 100%;
  min-width: 0;
}

.sidebar_content {
  position: relative;
  width: 100%;
  min-width: 0;
}

.sidebar {
  @include flex-column();
  padding: 10px;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid $hover-color-darken;
  height: fit-content;
  width: 100%;
  min-width: 0;
  background-color: $background-color;
}

.logout_wrapper {
  align-self: flex-end;
  padding: 10px 15px 0 0;
}

.menu_button {
  display: none;
}

@media (max-width: $middle-breakpoint) {
  .sidebar_wrapper {
    top: 80px;
    max-width: 280px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .sidebar_wrapper {
    max-width: 250px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .sidebar_wrapper {
    position: absolute;
    max-width: 100vw;
    height: 100vh;
    z-index: 998;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  .sidebar_content {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .sidebar {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    @include transition();
    opacity: 0;
    box-shadow: 0 -2px 15px 0 rgba(1, 67, 61, 0.2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &.open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .menu_button {
    border: 1px solid $accent;
    @include flex-center();
    gap: 10px;
    color: $accent;
    padding: 8px 20px;
    width: calc(100% - 20px);
    align-self: center;
    text-transform: uppercase;
    @include transition();
    pointer-events: auto;
    min-height: fit-content;

    svg {
      height: 22px;
      width: 22px;

      path {
        @include transition();
        stroke: $accent;
      }
    }

    span {
      @include clamped-p2();
      @include transition();
    }
  }

  .menu_button:active {
    border: 1px solid $primary;

    svg {
      path {
        stroke: $primary;
      }
    }

    span {
      color: $primary;
    }
  }
}
