.table_container {
  @include flex-column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  height: fit-content;
}

.container_title {
  @include clamped-h3;
  text-transform: uppercase;
}

.table {
  @include flex-column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
  border: 2px solid $hover-color;
  border-radius: 20px;
}

.no_data_message {
  text-align: left;
  @include clamped-p3;
  text-transform: none;

  &.link {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
    @include transition;
    color: $primary;

    &:hover {
      color: $accent;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .table_container {
    gap: 15px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .table_container {
    gap: 10px;
  }

  .container_title {
    margin-left: 15px;
  }

  .table {
    border: 1px solid $hover-color;
    border-radius: 20px;
  }
}
