.card_wrapper {
  @include transition($property: transform);
  @include flex-column;
  height: 100%;
  width: 100%;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      transform: translateY(-10px);
    }
  }
}

.card_header {
  @include flex-center;
  position: relative;
  outline: 1px solid $secondary-lighter;
  border-bottom: unset;
  padding: 15px 20px 5px;
  width: fit-content;
  max-width: 80%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    bottom: -3px;
    left: 0;
    right: 5px;
    width: 103%;
    background-color: $background-color;
  }
  @include circle-angle(
    $bottom: 0,
    $right: -20px,
    $size: 20px,
    $offset-x: -20px,
    $offset-y: 20px,
    $shadow-color: $background-color,
    $border-bottom-left-radius: 20px
  );

  &::before {
    border: 1px solid $secondary-lighter;
    border-top: 0;
    border-right: 0;
    z-index: 2;
    box-shadow: -2px 2px 0 2px $background-color;
  }

  h6 {
    @include clamped-p2;
    width: fit-content;
    text-transform: uppercase;
    color: $secondary;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }
}

.professor_card {
  @include flex-column;
  flex: 1;
  gap: 15px;
  outline: 1px solid $secondary-lighter;
  border-radius: 20px;
  align-items: center;
  border-top-left-radius: unset;
  border-top-right-radius: 20px;
  padding: 10px 20px 20px;
  @include clamped-p4;
}

.description_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  @include flex-column;
  gap: 5px;
}

.professor_link {
  @include clamped-p4;
  align-self: flex-end;
  margin-right: 10px;
}

.description,
.tags {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.books_count,
.courses_count {
  color: $text-color;
  padding: 1px 10px;
  border-radius: 20px;
  @include clamped-p3;
  align-self: center;
  flex-shrink: 0;
  width: fit-content;
}

.counts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.courses_count {
  background-color: $primary;
}

.books_count {
  background-color: $secondary-lighter;
}

.card_content {
  position: relative;
  @include flex-column;
  align-items: center;
  flex: 1;
  gap: 20px;
  width: 100%;
}

.photo_wrapper {
  text-align: center;
  flex-shrink: 0;
  overflow: hidden;
  width: 100%;
  max-width: 188px;
  height: 180px;
  border-radius: 20px;
  color: $text-color;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: $middle-breakpoint) {
  .photo_wrapper {
    width: 120px;
    height: 120px;
  }

  .professor_card {
    padding: 10px 15px 20px;
  }

  .card_header {
    padding: 15px 15px 5px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .card_wrapper {
    border-bottom: 1px solid $secondary-lighter;
    padding-bottom: 7px;
    gap: 5px;
  }

  .counts {
    justify-content: flex-start;
  }

  .books_count,
  .courses_count {
    background-color: unset;
    padding: unset;
  }

  .books_count {
    color: $secondary-lighter;
  }

  .courses_count {
    color: $primary;
  }

  .photo_wrapper {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    outline: 1px solid $secondary-lighter;
    outline-offset: 1px;
  }

  .description_wrapper {
    justify-content: flex-end;
    gap: 3px;
  }

  .description {
    order: 3;
  }

  .professor_link {
    position: absolute;
    top: -24px;
    right: 0;
    margin-right: 0;
    background-color: $secondary-lighter;
    padding: 2.5px 8px;
    color: $text-color;
    border-radius: 10px;
    margin-bottom: 0;

    svg {
      path {
        fill: $text-color;
      }
    }

    &::after {
      display: none;
    }
  }

  .tags {
    order: 2;
  }

  .card_header {
    outline: none;
    width: 100%;
    max-width: 260px;
    padding: 0 0 0 5px;
    justify-content: flex-start;

    &::before {
      display: none;
      width: 15px;
      height: 15px;
      right: -15px;
      border-bottom-left-radius: 15px;
    }

    &::after {
      display: none;
    }
  }

  .card_content {
    flex-direction: row !important;
    align-items: unset;
  }

  .professor_card {
    padding: 0;
    gap: 5px;
    outline: unset;
    border-radius: unset;
    align-items: end;
  }

  .card_content {
    gap: 10px;
  }
}
