.main_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 200px;
}

@media (max-width: $mobile-breakpoint) {
  .content {
    margin-bottom: 100px;
  }
}
