.navButton {
  cursor: pointer;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid $background-color;
  @include clamped-p1;
  @include transition;
  svg {
    path {
      @include transition($property: stroke);
    }
  }
}

@media (hover: hover) {
  .navButton:not(.activePage):hover {
    color: $primary;
    svg {
      path {
        stroke: $primary;
      }
    }
  }

  .navButton:not(.activePage):not(.navButtonArrow):hover {
    border-color: $primary;
  }
}

.navButton:not(.activePage):active {
  color: $text-color;
  background-color: $primary;
  svg {
    path {
      stroke: $text-color;
    }
  }
}

.activePage {
  color: $text-color;
  background-color: $primary;
}

.navButtonArrow {
  @include flex-center;
  padding: 0 5px;
  svg {
    width: 25px;
    height: 25px;

    path {
      stroke: $accent;
    }
  }
}

.prevNavButton {
  //transform: rotate(180deg);
}

.nextNavButton {
  transform: rotate(180deg);
}

@media (max-width: $mobile-breakpoint) {
  .navButton {
    padding: 0 5px;
    border-radius: 5px;
  }

  .navButtonArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .prevNavButton {
    left: 0;
  }

  .nextNavButton {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }
}
