.sidebar_item {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include transition();
  position: relative;
  gap: 15px;
  min-width: 0;
  flex: 1 1 auto;
  text-transform: capitalize;
  border-radius: 5px;
  height: fit-content;

  @media (hover: hover) {
    &:hover:not(.active) {
      background-color: $hover-color;

      .title {
        //color: $text-color;
      }

      .arrow,
      .icon {
        path {
          //stroke: $text-color;
        }
      }
    }
  }

  &:active {
    background-color: $primary;

    .title {
      //color: $text-color;
    }

    .arrow,
    .icon {
      path {
        //stroke: $text-color;
      }
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  @include flex-center();
  svg {
    width: 100%;
    height: 100%;
    path {
      stroke: $accent;
      stroke-width: 1.5;
      opacity: 1;
      @include transition();
    }
  }
}

.title {
  @include clamped-p3();
  @include transition();
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.arrow {
  margin-left: auto;
  width: 24px;
  height: 24px;
  opacity: 1;
  transform: rotate(90deg);
  flex-shrink: 0;
  @include transition();

  path {
    stroke-width: 1.5;
    stroke: $hover-color-darken;
    stroke-opacity: 1;
    @include transition();
  }
}

.active {
  background-color: $primary;
  color: $text-color;

  svg {
    path {
      stroke: $text-color;
    }
  }

  .arrow {
    pointer-events: none;
    opacity: 0;
  }
}

@media (max-width: $tablet-breakpoint) {
  .icon,
  .arrow {
    width: 20px;
    height: 20px;
  }
}
