.cart_btn {
  width: 100%;
  max-width: 150px;
  background-color: $primary;
  border: 1px solid $primary;
  border-width: 1px !important;
  height: 40px;
  padding: 8px 10px !important;

  svg {
    width: 20px !important;
    height: 20px !important;
  }
}

.content {
  position: relative;
  @include flex-column;
  gap: 5px;
  flex: 1;
}

.content_header {
  display: flex;
  justify-content: space-between;
}

.photo {
  user-select: none;
  border: 1px solid $primary-06;
  min-width: 140px;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: 180px;
  height: 110px;
  background-color: $hover-color;

  &.no_photo {
    @include flex-center;
    svg {
      aspect-ratio: 1;
      height: 80%;
    }
  }

  &.book {
    border-radius: 10px;
    background-color: unset;
    border: none;
    height: 160px;
    width: 120px;
    min-width: unset;
  }
}

.prices {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.old_price {
  @include clamped-p3;
  color: $accent;
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  opacity: 0.7;
}

.new_price {
  @include clamped-p2;
  color: $primary;
}

.name {
  hyphens: auto;
  @include clamped-p2;
  color: $accent;
}

.authors {
  hyphens: auto;
  @include clamped-p3;
  color: $primary;
}

@media (max-width: $tablet-breakpoint) {
  .cart_btn {
    max-width: 115px;
    font-size: 16px;
    padding: 0 15px;
  }

  .photo {
    min-width: unset;
    max-width: 140px;
    height: 85px;

    &.book {
      min-height: unset;
      max-height: 130px;
      width: 95px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .photo {
    border-radius: 10px;
    max-width: 90px;
    height: 55px;

    &.book {
      border-radius: 5px;
      max-height: 80px;
      width: 55px;
    }
  }

  .prices {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .lang_logo {
    position: absolute !important;
    left: -22px;
    top: -5px;
    font-size: 10px !important;
    width: 20px !important;
    height: 20px !important;
  }

  .name {
    font-size: 14px;
  }

  .authors {
    //position: absolute;
    font-size: 11px;
  }

  .old_price {
    font-size: 12px;
    text-decoration-thickness: 1px;
  }

  .content {
    gap: 2px;
  }

  .cart_btn {
    border-width: 1px !important;
    padding: 3px 6px !important;
    font-size: 11px !important;
    height: 25px;
    max-width: 92px;

    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }
}
