$svg-width: 18px;
$svg-height: 35px;

.back_btn {
  @include clamped-p1;
  @include transition($property: color);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: $svg-width + 20px;
  min-height: $svg-height;
  margin-bottom: 36px;

  &:hover {
    color: $primary;
    svg {
      stroke: $primary;
      transform: translate(-5px, -50%);
    }
  }

  svg {
    @include transition();
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    stroke: $text-color-accent;
    width: $svg-width;
    height: $svg-height;
  }
}

@media (max-width: $mobile-breakpoint) {
  .back_btn {
    margin-bottom: 20px;
    padding-left: 30px;

    svg {
      height: 20px;
    }
  }
}
