.cart {
  color: $text-color;
  width: 100%;
  max-width: 530px;
  height: 100%;
  max-height: 930px;
  border-bottom-left-radius: var(--border-radius);
  background-color: $accent-glass;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &.empty {
    min-height: 400px;
    gap: 30px;
    height: fit-content;
    justify-content: space-between;
    padding: 30px;
    text-align: center;

    .cart_header {
      padding: 0;
      margin: 0;
    }
  }

  h2 {
    @include clamped-h2;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
  }
}

.cart_icon_wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  position: relative;

  .cart_icon {
    width: inherit;
    height: inherit;
    flex-shrink: 0;

    path {
      stroke: $text-color;
    }
  }

  .circle {
    @include flex-center;
    position: absolute;
    top: -6px;
    right: -10px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: $secondary-lighter;
    font-size: 14px;
  }
}

.empty_container {
  h2 {
    margin-bottom: 20px;
    font-weight: 500;
  }
  p {
    padding: 0 20px;
    @include clamped-p3;
  }
}

.cart_header {
  padding: 30px 30px 0 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cart_title {
  @include clamped-h2;
  text-transform: uppercase;
}

.close_button {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;
}

.cart_items {
  padding: 0 20px 10px 30px;
  margin-right: 10px;
  border-radius: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 10px;
  @include custom-scrollbar;
}

@media (max-width: $mobile-breakpoint) {
  .cart_header {
    padding: 10px 25px 0 18px;
    margin-bottom: 10px;
  }

  .cart {
    border-radius: 25px;
    min-height: 300px;
  }

  .cart_items {
    padding: 0 10px 10px 15px;
    margin-right: 5px;
    gap: 5px;
  }

  .cart_header {
    gap: 25px;
  }

  .close_button {
    width: 35px;
    height: 35px;
  }

  .cart_icon_wrapper {
    width: 30px;
    height: 30px;

    .circle {
      width: 18px;
      height: 18px;
      font-size: 12px;
      top: -5px;
      right: -8px;
    }
  }
}
