.hero {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  //justify-content: space-between;
  width: 100%;
  height: fit-content;
  gap: 40px;
  max-height: 520px;

  .left_side {
    position: relative;
    max-height: 100%;
    width: 40%;

    @media (max-width: $middle-breakpoint) {
      width: 55%;
    }

    @media (max-width: $tablet-breakpoint) {
      width: 100%;
    }

    .lang_price {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      transform: translate(20px, -50%);
      @include flex-center();
      flex-direction: row;
      gap: 15px;
      height: fit-content;

      svg {
        width: 75px;
        height: 75px;
      }

      .price {
        background-color: $primary;
        border-radius: 40px;
        padding: 10px 30px;
        @include flex-center();
        gap: 5px;
        height: fit-content;

        .new_price {
          color: $background-color;
          height: fit-content;
          @include clamped-p1();
        }

        .old_price {
          color: $tertiary;
          @include clamped-p3();
          text-decoration: line-through;
          height: fit-content;
        }

        @media (max-width: $mobile-breakpoint) {
          padding: 6px 18px;
        }
      }

      @media (max-width: $tablet-breakpoint) {
        right: calc(((100% - 505px) / 2) + 10px);
        transform: unset;
        bottom: 5px;
        align-items: flex-end;
        top: unset;

        svg {
          width: 60px;
          height: 60px;
        }
      }

      @media (max-width: $mobile-breakpoint) {
        right: calc(((100% - 400px) / 2) + 10px);
        transform: unset;
        bottom: 147px;
        align-items: flex-end;

        svg {
          width: 38px;
          height: 38px;
        }
      }

      @media (max-width: 420px) {
        right: 10px;
      }
    }
  }

  .right_side {
    max-height: 100%;
    flex: 1;
    @include flex-column();
    gap: 20px;
    justify-content: space-between;

    @media (max-width: $middle-breakpoint) {
      max-width: 45%;
    }

    @media (max-width: $middle-breakpoint) {
      width: 100%;
      max-width: 100%;
    }

    .info {
      @include clamped-p2();
      color: $accent-glass;
      @include flex-column();
      gap: 10px;
      justify-content: flex-start;
      align-items: flex-start;
      height: fit-content;

      h2 {
        @include clamped-h2();
        text-transform: uppercase;
        color: $accent;
      }

      .highlight {
        color: $hover-color-dark;
      }

      .formats_field {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;

        .formats {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    flex-direction: column;
    gap: 30px;
    max-height: fit-content;
    width: 100%;
  }
}
