.item {
  @include clamped-h3;
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-radius: 20px;
  padding:  20px;
  color: $accent;
  gap: 30px;
  border: 1px solid $accent;

  div {
    display: flex;
    gap: 15px;
    span {
      color: $primary;
    }
  }

}