.container {
  @include flex-column;
  gap: 20px;

  @media (max-width: $tablet-breakpoint) {
    gap: 15px;
  }
}

.skeletons {
  width: 100%;
  height: fit-content;
  display: grid;
  min-height: 68px;
  grid-template-columns: 3fr 1.5fr 1fr;
  gap: 15px;

  @media (max-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.count {
  margin-left: auto;
  @include skeleton($pos: relative, $h: 42px, $w: 200px, $color: $light-grey);

  @media (max-width: $tablet-breakpoint) {
    @include skeleton($pos: relative, $h: 34.5px, $w: 150px, $color: $light-grey);
  }
}

.skeleton {
  @include transition();
  align-self: flex-end;

  @include skeleton($pos: relative, $h: 48px, $color: $light-grey);

  @media (max-width: $tablet-breakpoint) {
    @include skeleton($pos: relative, $h: 38px, $color: $light-grey);
  }
}
