.courses {
  @include flex-column;
  gap: 60px;
}

.courses_header {
  @include flex-column;
  gap: 40px;
}

.filters {
  display: flex;
  gap: 10px;
  justify-content: left;
  flex-wrap: wrap;
}

.line {
  height: 2px;
  position: relative;
  display: block;
  @include horizontal-line($right: 0, $width: 85%, $bottom: 0);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 30px;
  margin-bottom: 72px;
}

.no_courses {
  display: flex;
  justify-content: center;
}


@media(max-width: 1024px) {
  .list {
    row-gap: 12px;
    margin-bottom: 46px;
  }
}

@media(max-width: 576px) {
  .courses {
    gap: 40px;
  }

  .list {
    grid-template-columns: 1fr;
  }
}