.option {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 13px;
  @include clamped-p3;
  @include transition;
}

.count {
  margin-left: auto;
  display: flex;
  opacity: 0.9;
  font-weight: bold;
  @include clamped-p4;

  &.inactive {
    font-weight: unset;
    opacity: 0.3;
  }
}

.radio_button {
  position: relative;
  @include flex-center();
  height: 20px;
  width: 20px;
  border: 1.5px solid $primary;
  @include transition();
  flex-shrink: 0;
  border-radius: 3px;
  overflow: hidden;

  &.radio {
    border-radius: 50%;
  }

  &.active {
    background-color: $primary;
  }

  svg {
    width: 70%;
    height: 70%;
    path {
      stroke: $text-color;
      stroke-width: 4px;
    }
  }
}

@media (hover: hover) {
  .option:hover {
    background-color: $hover-color;
  }
}

.option:active {
  background-color: $hover-color;
}
