.select_container {
  position: relative;
  @include flex-column();
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 10px;

  @media (max-width: $mobile-breakpoint) {
    align-items: flex-start;
  }
}

.ref_container {
  width: 100%;
  height: 100%;
}

.options_wrapper {
  @include flex-column();
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 240px;
  padding-right: 10px;
  @include custom-scrollbar();
  width: 100%;
}

.select_menu {
  position: absolute;
  z-index: 3;
  min-width: 100%;
  width: fit-content;
  height: fit-content;
  border: 1.5px solid $hover-color;
  padding: 10px;
  @include flex-column();
  justify-content: flex-start;
  align-items: flex-start;
  @include clamped-p3();
  color: $text-color-accent;
  background-color: $background-color;
  border-radius: 20px;
  @include box-shadow();
  @include transition();
  visibility: hidden;
  opacity: 0;
  will-change: opacity;

  h6 {
    font-weight: bold;
    color: $accent;
    opacity: 0.3;
    margin-bottom: 8px;
  }

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &.down {
    right: 50%;
    top: calc(100% + 6px);
    transform: translateX(50%);
  }

  &.up {
    right: 50%;
    top: unset;
    bottom: calc(100% + 6px);
    transform: translateX(50%);
  }

  &.center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.right {
    left: 0;
    transform: translateX(0);
  }

  &.left {
    right: 0;
    transform: translateX(0);
  }
}
