.profile_page_container {
  display: grid;
  grid-template-columns: minmax(0, max-content) 1fr;
  gap: 15px;
}

.profile_content_container {
  //border: 1px solid $hover-color-darken;
  //padding: 15px;
  //border-radius: 20px;
  height: 100%;
  overflow: auto;
  width: 100%;
  @include custom-scrollbar();
}

@media (max-width: $tablet-breakpoint) {
  .profile_page_container {
    gap: 10px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .profile_page_container {
    padding-top: 50px;
    height: fit-content;
    grid-template-columns: 1fr;
  }

  .profile_content_container {
    border: none;
    padding: unset;
    border-radius: unset;
    height: fit-content;
    overflow: unset;
  }
}
