.content {
  @include flex-column();
  gap: 30px;
}

.content_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.no_items_container {
  @include clamped-p2;
  text-align: center;
  width: 100%;
  color: $hover-color-darken-analogue;
}

.no_content {
  @include flex-center;
  @include clamped-p2;
  flex: 1;
  display: block;
  margin-left: 20px;
}

.highlight {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
  @include transition;
  color: $primary;

  &:hover {
    color: $accent;
  }
}

.page_title {
  @include clamped-h3();
  text-transform: uppercase;
}

@media (max-width: $tablet-breakpoint) {
  .content {
    gap: 15px;
  }

  .content_list {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .content {
    gap: 10px;
  }

  .no_content {
    margin-left: 10px;
  }

  .content_list {
    display: flex;
    flex-direction: column;

    &.book {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
