.content {
  @include flex-column;
  gap: 40px;
}

.content_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.no_content {
  @include flex-center;
  @include clamped-p2;
  max-width: 90%;
  position: absolute;
  display: block;
}

.highlight {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
  @include transition;
  color: $primary;

  &:hover {
    color: $accent;
  }
}

@media (max-width: $middle-breakpoint) {
  .content_list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $mobile-breakpoint) {
  .content {
    gap: 20px;
  }

  .content_list {
    display: flex;
    gap: 10px;
    flex-direction: column;

    &.book {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
