.toggle_btn {
  opacity: 1;
  position: relative;
  height: 35px;
  align-items: center;
  @include clamped-p3;
  padding: 0 45px 0 15px;
  display: flex;
  gap: 5px;
  @include transition;
  border: 1px solid $accent-06;
  border-radius: 20px;
  color: $accent;
  text-transform: uppercase;

  .num {
    text-align: center;
    transition: inherit;
  }

  .line {
    opacity: 1;
    transition: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35.5px;
    width: 1px;
    height: 65%;
    background-color: $hover-color;
  }

  .arrow_icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transition: inherit;
    right: 9px;
    width: 22px;
    height: 22px;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;

    path {
      transition: inherit;
      stroke: $accent;
      stroke-width: 1;
    }
  }

  &.last_active {
    cursor: auto;
  }

  &.active {
    color: $text-color;
    background-color: $primary-06;
    border-color: $primary;
    padding: 0 60px;

    .line {
      opacity: 0;
    }

    .arrow_icon {
      opacity: 0;
      transform: translateY(-50%) rotate(0);
      path {
        stroke: $text-color;
      }
    }
  }

  @media (hover: hover) {
    &:hover:not(.last_active):not(.disabled) {
      .line {
        background-color: $primary-02;
      }
      color: $primary;
      //background-color: $primary-02;
      border-color: $primary;

      .arrow_icon {
        path {
          stroke: $primary;
        }
      }

      &.active {
        background-color: $background-color;
        border-color: $error-color;
        color: $accent;

        .arrow_icon {
          opacity: 1;
          path {
            stroke: $error-color;
          }
        }
      }
    }
  }

  &:active:not(.disabled), &:active:hover:not(.disabled) {
    background-color: $primary-08;
    color: $text-color;

    .arrow_icon {
      path {
        stroke: $text-color;
      }
    }

    &.active:not(.last_active) {
      background-color: $error-color-lighten;
      //color: $error-color;
      .arrow_icon {
        path {
          stroke: $accent;
        }
      }
    }
  }

  &.disabled {
    opacity: 0.6;
    color: $accent;
    background-color: $quaternary-06;
    border-color: transparent;
    cursor: auto;
    pointer-events: none;
  }
}