.lessons_container {
  @include flex-column;
  gap: 40px;

  .lessons {
    @include flex-column;
    gap: 200px;
  }

  @media (max-width: $tablet-breakpoint) {
    .lessons {
      gap: 110px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    .lessons {
      gap: 70px;
    }
  }
}
