.btn_wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $primary-04;
  backdrop-filter: blur(20px);
  padding: 2px;
  @include transition();
  border-radius: 100%;
  overflow: hidden;
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;

  &.shift {
    transform: translateX(-65px);
  }

  &:active {
    .interaction_btn {
      background-color: transparent;
      svg {
        path {
          stroke: $background-color;
        }
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      .interaction_btn {
        svg {
          path {
            stroke: $primary;
          }
        }
      }
    }
  }
}

.interaction_btn {
  width: 100%;
  height: 100%;
  padding: 10px;
  @include flex-center;
  background-color: $accent-09;
  @include transition();
  border-radius: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;

  svg {
    $size: 20px;
    width: $size;
    height: $size;

    path {
      @include transition();
      stroke: $background-color-09;
      stroke-width: 2;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .btn_wrapper {
    &.shift {
      transform: translateY(-60px);
    }
  }
}
