.logout {
  @include flex-center();
  width: 100%;
  flex-direction: row;
  gap: 5px;
  flex-shrink: 0;
  @include transition();
  @include clamped-p3();
  background-color: $hover-color;
  padding: 5px 25px;
  border-radius: 30px;
  border: 1px solid $hover-color;
  text-wrap: nowrap;

  svg {
    width: 18px;
    height: 18px;

    path {
      @include transition();
      stroke-width: 3.5 !important;
    }
  }

  @media (hover: hover) {
    &:hover {
      color: $error-color;
      border-color: $error-color;

      svg {
        path {
          fill: $error-color;
          stroke: $error-color;
        }
      }
    }
  }

  &:active {
    color: $error-color;

    svg {
      path {
        fill: $error-color;
        stroke: $error-color;
      }
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .logout {
    svg {
      width: 14px;
      height: 14px;
    }
  }
}
