.password_reset {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
}

.reset_input {
  @include flex-column();
  gap: 4px;
  @include clamped-p6();
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 0;

  label {
    display: block;
    text-wrap: nowrap;
    color: $primary;
    text-align: center;
    margin-left: 15px;
  }

  input {
    @include clamped-p6();

    &::placeholder {
      color: $accent-glass;
    }
  }
}

.reset_btn {
  background-color: $primary;
  color: $text-color;
  @include clamped-p3();
  height: 30px;
  padding: 2px 20px;
  min-height: unset;
  outline: none;
  outline-offset: unset;
  width: fit-content;

  @media (hover: hover) {
    &:hover {
      background-color: $error-color-lighten;
      box-shadow: 0 0 0 1px $error-color inset;
      color: $error-color;
      outline: none;
    }
  }

  &:active {
    background-color: $error-color-lighten;
    box-shadow: 0 0 0 1px $error-color inset;
    color: $error-color;
    outline: none;
  }
}
