.password_reset {
  @include flex-column();
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;

  label {
    hyphens: auto;
    display: block;
    color: $primary;
    margin-left: 5px;
  }
}

.reset_input {
  display: flex;
  gap: 4px;
  @include clamped-p5();
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 0;

  input {
    @include clamped-p5();

    &::placeholder {
      color: $accent-glass;
    }
  }
}

.reset_button {
  button {
    background-color: $primary !important;
    @include clamped-p3();
    color: $text-color !important;
    height: 30px;
    padding: 2px 20px;
    min-height: unset;
    @include transition();
    outline: none;
    border-radius: 30px;
    border: none;
    outline-offset: unset;

    @media (hover: hover) {
      &:hover {
        background-color: $error-color-lighten !important;
        box-shadow: 0 0 0 1px $error-color inset;
        color: $error-color !important;
        outline: none !important;
      }
    }

    &:active {
      background-color: $error-color-lighten !important;
      box-shadow: 0 0 0 1px $error-color inset;
      color: $error-color !important;
      outline: none !important;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .password_reset {
    flex-wrap: nowrap;
    gap: 5px;
  }
}
