.cart_btn {
  width: 100%;
  max-width: 150px;
  height: 40px;
}

.content {
  @include flex-column;
  gap: 5px;
  flex: 1;
}

.content_header {
  display: flex;
  justify-content: space-between;
}

.photo {
  min-width: 140px;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: 170px;
  height: 100px;
  background-color: $hover-color;
}

.prices {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.old_price {
  @include clamped-p3;
  color: $accent;
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  opacity: 0.7;
}

.new_price {
  @include clamped-p2;
  color: $primary;
}

.name {
  @include clamped-p2;
  color: $accent;
}

.authors {
  @include clamped-p3;
  color: $primary;
}

.card {
  padding: 20px;
  display: flex;
  gap: 20px;
  position: relative;
  @include transition;
  border-radius: 20px;
  cursor: pointer;
  @include horizontal-line($left: 50%, $width: 90%, $bottom: -10px, $color: $hover-color, $transform: x50);

  .icon {
    @include flex-center;
    height: 100%;
    width: 30px;

    svg {
      path {
        @include transition;
        stroke: $accent;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $hover-color;

      .dropdown_item_inner {
        &::after {
          width: 100%;
          background-color: $primary;
        }
      }

      .icon {
        svg {
          path {
            stroke: $primary;
          }
        }
      }
    }
  }

  &:active {
    background-color: $hover-color;
    .dropdown_item_inner {
      &::after {
        width: 100%;
        background-color: $primary;
      }
    }

    svg {
      path {
        stroke: $primary;
      }
    }
  }

  &:focus-visible {
    outline: none;
    background-color: $hover-color;
    .dropdown_item_inner {
      &::after {
        width: 100%;
        background-color: $primary;
      }
    }

    svg {
      path {
        stroke: $primary;
      }
    }
  }
}

.dropdown_item_inner {
  padding-bottom: 10px;
  margin-bottom: 2px;
  position: relative;
  flex: 1;
  @include horizontal-line(
          $bottom: -2px,
          $left: 50%,
          $width: 90%,
          $color: $accent,
          $transform: x50
  );

  .text {
  }

  .prices {
    @include clamped-p2;
  }

  h4 {
    @include clamped-h4;
    color: $primary;
    margin-bottom: 10px;
  }

  p {
    @include clamped-p4;
  }

  &::after {
    @include transition;
  }
}