.content_overview {
  @include flex-column();
  gap: 40px;
  height: fit-content;

  @media (max-width: $tablet-breakpoint) {
    gap: 10px;
  }

  .slider {
    width: 100%;
    height: fit-content;
  }
}
