.landing {
  @include flex-column;
  gap: 140px;

  @media (max-width: $middle-breakpoint) {
    gap: 100px;

    button {
      width: fit-content;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    gap: 80px;
  }

  @media (max-width: $mobile-breakpoint) {
    gap: 60px;
  }
}
