.landing_top {
  @include flex-column;
  justify-content: space-between;

  button {
    height: fit-content;
  }
}

.buy_and_free_btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .or {
    @include clamped-p2;
    background-color: $background-color;
    padding: 0 10px;
    border-radius: 10px;
  }

  .free_btn {
    border-radius: var(--border-radius);
    min-height: 60px;
    height: fit-content;
  }
}

.admin_btns {
  border: 1px solid $hover-color;
  padding: 15px;
  border-radius: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-bottom: 50px;

  .admin_btn {
    width: 100%;
    &:nth-child(1) {
      grid-column: 1 / 3;
    }

    &:nth-child(2) {
      grid-column: 3 / 5;
    }

    &:nth-child(3) {
      grid-column: 5 / 7;
    }

    &:nth-child(4) {
      grid-column: 2 / 4;
    }

    &:nth-child(5) {
      grid-column: 4 / 6;
    }
  }

  button {
    width: 100%;
  }
}

.landing {
  @include flex-column;
  gap: 140px;
}

@media (max-width: $middle-breakpoint) {
  .landing {
    gap: 100px;
  }

  .admin_btns {
    display: flex;
  flex-direction: column;
    margin-bottom: 10px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .landing {
    gap: 80px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .landing {
    gap: 40px;
  }

  .buy_and_free_btns {
    flex-direction: column;
    .free_btn {
      min-height: unset;
      height: 40px;
    }
  }
}
