.filters_wrapper {
  position: relative;
}

.courses {
  @include flex-column;
  gap: 60px;
}

.courses_header {
  @include flex-column;
  gap: 40px;
}

.line {
  height: 2px;
  position: relative;
  display: block;
  @include horizontal-line($right: 0, $width: 85%, $bottom: 0);

  &.loading {
    @include horizontal-line(
      $right: 0,
      $width: 85%,
      $bottom: 0,
      $color: $darker-grey
    );
  }
}

@media (max-width: $mobile-breakpoint) {
  .courses_header {
    gap: 10px;
  }

  .courses {
    gap: 20px;
  }
}
