.timer {
  border: 1.5px solid $background-color;
  border-radius: 15px;
  padding: 3px 15px;
  @include flex-center;
  gap: 15px;
  @include clamped-h3;

  &.dark {
    border-color: $accent;
    svg {
      path {
        fill: $accent;
      }
    }
  }

  &.primary {
    background-color: $primary;
    color: $text-color;
    border-color: $primary;
  }

  svg {
    width: 35px;
    height: 35px;
    path {
      fill: $background-color;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .timer {
    border-width: 1px;
    padding: 2px 6px;
    gap: 8px;
    font-size: 18px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}