.list_header {
  @include flex-column;
  gap: 10px;
}

.total_count {
  @include clamped-p2;
  text-align: right;
}

.list_header_inner {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 40px;

  div {
    flex: 1;
  }
}

.list_container {
  @include flex-column;
  gap: 20px;
}

.list {
  @include flex-column;
  position: relative;
  gap: 20px;
}

@media (max-width: $tablet-breakpoint) {
  .list_header_inner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
}
