.list_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.multi_select_wrapper {
  min-width: 150px;
}

.total_count {
  @include clamped-p2;
  text-align: right;
}

.list_container {
}

.list {
  @include flex-column;
  position: relative;
  gap: 20px;
}

.not_found {
  @include clamped-p2;
  text-align: center;
  opacity: 0.7;
}

@media (max-width: $tablet-breakpoint) {
  .list_header {
    justify-content: space-between;
    gap: 10px;

    button {
      min-width: unset;
      width: fit-content;
      padding: 5px 10px;
    }
  }
}
