.menu {
  display: none;
  grid-template-columns: (repeat(3, 1fr));
  position: sticky;
  padding: 10px 20px;
  bottom: 0;
  background-color: $background-color;
  z-index: 999;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  box-shadow: 0 -0.5px 1px $primary;

  .btn_wrapper {
    width: 100%;
    @include flex-center;
  }
}

@media (max-width: $tablet-breakpoint) {
  .menu {
    display: flex;
  }
}
