.menu {
  display: none;
  position: sticky;

  .menu_content {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: $background-color-09;
    border-radius: 22px;
  }

  padding: 2.5px;
  bottom: 5px;
  background-color: $primary-04;
  backdrop-filter: blur(20px);
  z-index: 999;
  border-radius: 25px;
  //border-top-left-radius: 15px;
  //width: 100%;
  margin: 0 10px;
  border: 0.5px solid $primary;
  //box-shadow: 0 -0.5px 1px $primary;

  //&::after {
  //  content: "";
  //  display: block;
  //  height: 50px;
  //  width: 100%;
  //  position: absolute;
  //  bottom: -48px;
  //  left: 0;
  //  right: 0;
  //  background-color: inherit;
  //  backdrop-filter: blur(15px);
  //}

  .btn_wrapper {
    width: 100%;
    @include flex-center;
  }
}

@media (max-width: $tablet-breakpoint) {
  .menu {
    display: block;

    .menu_content {
    }
  }
}
