.menu {
  display: none;
  position: sticky;
  padding: 2px;
  bottom: 15px;
  background-color: $primary-04;
  backdrop-filter: blur(20px);
  z-index: 999;
  border-radius: 22px;
  margin: 0 3px;
  border: 0.5px solid $primary;

  .menu_content {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: $background-color-09;
    border-radius: 20px;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    bottom: 5px;
  }

  .btn_wrapper {
    width: 100%;
    @include flex-center;
  }
}

@media (max-width: $tablet-breakpoint) {
  .menu {
    display: block;
  }
}
