.support_layout_container {
  display: flex;
  gap: 10px;
}

.support_page {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat_section {
  flex: 1;
  background-color: $hover-color;
  border-radius: 30px;
  border: 1px solid $hover-color;
}

.support_page_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @include clamped-h3;
}