.profile_sidebar_wrapper {
  @include flex-column();
  gap: 15px;
  width: fit-content;

  .burger_menu_icon,
  .close_menu_icon {
    width: 30px;
    height: 30px;
    display: none;

    path {
      stroke: $accent;
    }
  }
}

.profile_sidebar_content {
  position: relative;
  width: fit-content;
}

.profile_sidebar {
  @include flex-column();
  padding: 10px;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid $hover-color;
  height: fit-content;
  width: fit-content;
  background-color: $background-color;
}

.logout_wrapper {
  align-self: flex-end;
  padding: 10px 15px 0 0;
}

@media (max-width: $mobile-breakpoint) {
  .profile_sidebar_wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    left: 0;
    top: 0;
    pointer-events: none;

    .burger_menu_icon,
    .close_menu_icon {
      display: block;
      margin-left: 10px;
      pointer-events: auto;
      cursor: pointer;

      @media (hover: hover) {
      }
      &:active path {
        stroke: $primary;
      }
    }
  }

  .profile_sidebar_content {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .profile_sidebar {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    @include transition();
    opacity: 0;
    box-shadow: 0 -2px 15px 0 rgba(1, 67, 61, 0.2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &.open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }
}
