.logout_wrapper {
  align-self: flex-end;
  padding: 10px 0 0 0;
}

.menu_button {
  display: none;
}

@media (max-width: $mobile-breakpoint) {
  .menu_button {
    border: 1px solid $accent;
    @include flex-center();
    gap: 10px;
    color: $accent;
    padding: 8px 20px;
    width: calc(100% - 20px);
    align-self: center;
    text-transform: uppercase;
    @include transition();
    pointer-events: auto;
    min-height: fit-content;

    svg {
      height: 22px;
      width: 22px;

      path {
        @include transition();
        stroke: $accent;
      }
    }

    span {
      @include clamped-p2();
      @include transition();
    }
  }

  .menu_button:active {
    border: 1px solid $primary;

    svg {
      path {
        stroke: $primary;
      }
    }

    span {
      color: $primary;
    }
  }
}
