.page_container {
  @include flex-column;
  gap: 60px;

  p {
    @include clamped-p3;
    text-align: justify;
  }

  .page_content {
    @include flex-column;
    gap: 15px;
  }

  @media (max-width: $mobile-breakpoint) {
    gap: 20px;

    p {
      @include clamped-p4;
    }

    .page_content {
      gap: 10px;
    }
  }
}
