.filter_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  padding: 10px 5px;
  border: 1.5px solid $hover-color;
}

.filter_header {
  display: flex;
  justify-content: space-between;
}

.btns {
  display: flex;
  gap: 5px;
}

.sync_btn,
.clear_btn {
  @include transition;
  border: 1px solid $hover-color-dark;
  border-radius: 9px;
  width: 60px;
  height: fit-content;
  padding: 2px 10px;
  @include clamped-p5;
  color: $hover-color-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
@media (hover: hover) {
  .sync_btn {
    &:hover {
      color: $green;
      border-color: $green;
    }
  }

  .clear_btn {
    &:hover {
      color: $error-color;
      border-color: $error-color;
    }
  }
}

.sync_btn {
  &:active {
    color: $green;
    border-color: $green;
  }
}

.clear_btn {
  &:active {
    color: $error-color;
    border-color: $error-color;
  }
}

.label {
  @include clamped-p3;
  color: $accent;
}

.inputs {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.input_wrapper {
  position: relative;
  width: 100%;

  input {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.dash {
  font-size: 14px;
  color: $hover-color-dark;
}

@media (max-width: $tablet-breakpoint) {
  .filter_container {
    gap: 5px;
  }
}
