.course_page {
  @include flex-column;
  gap: 80px;

  .header {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 75px;

    @include skeleton($pos: relative, $color: $light-grey);
  }
}

.modules_list {
  @include flex-column;
  gap: 50px;

  li {
    @include flex-column;
    gap: 30px;
  }

  ul {
    @include flex-column;
    gap: 20px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .course_page {
    @include flex-column;
    gap: 40px;
  }

  .modules_list {
    ul {
      gap: 10px;
    }
  }
}
