.course_page {
  @include flex-column;
  gap: 80px;
  margin-bottom: 140px;
}

.modules_list {
  @include flex-column;
  gap: 50px;

  li {
    @include flex-column;
    gap: 30px;
  }

  ul {
    @include flex-column;
    gap: 20px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .course_page {
    margin-bottom: 80px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .course_page {
    @include flex-column;
    gap: 40px;
    margin-bottom: 60px;
  }

  .modules_list {
    ul {
      gap: 10px;
    }
  }
}
