.main {
  gap: 36px;
  width: 100%;
  align-items: self-start;
  padding-bottom: 340px;

  @media (max-width: $mantine-breakpoint-xs) {
    /* padding: 47px 20px 0; */
  }
}

.courseProgram {
  padding: 72px 32px;
}

.coloredPaper {
  height: 850px;
}
