@forward "base";
//@forward "base" with (
  //$primary: #e779e5,
  //$primary-02: rgba(231,121,229,0.2),
  //$primary-04: rgba(231,121,229,0.4),
  //$primary-04-analogue: #ea90e8,
  //$primary-06: rgba(231,121,229,0.6),
  //$primary-06-analogue: #e185df,
  //$primary-light: #f8b3f6,
  //$primary-08: rgba(231,121,229,0.8),
  //$primary-glass: rgba(231,121,229,0.8),
  //$primary-accent: #cd55ca,
  //$accent: #372267,
  //$accent-03: rgba(73,30,181,0.3),
  //$accent-06: rgba(73,30,181,0.6),
  //$accent-08-analogue: #542ab8,
  //$accent-glass: rgba(73,30,181,0.8),
  //$secondary: #6431a8,
  //$secondary-08: rgba(100,49,168,0.8),
  //$secondary-lighter: #7a47bf,
  //$secondary-lighter-02: rgba(122,71,191,0.2),
  //$secondary-lighter-04: rgba(122,71,191,0.4),
  //$secondary-lighter-06: rgba(122,71,191,0.6),
  //$secondary-lighter-08: rgba(122,71,191,0.8),
  //$tertiary: #4a2693,
  //$tertiary-08: rgba(74,38,147,0.8),
//);