.sidebar_shell {
  border: 1px solid $hover-color;
  @include flex-column();
  min-width: fit-content;
  border-radius: 20px;
  overflow: hidden;
  height: fit-content;
}

.sidebar_item {
  padding: 15px;
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include transition();
  position: relative;
  gap: 15px;
  flex: 1;
  height: fit-content;
}

.item_content {
  @include flex-center();
  gap: 15px;
}

.icon {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  @include flex-center();
  svg {
    width: 100%;
    height: 100%;
    path {
      stroke: $accent;
      stroke-width: 1.5;
      opacity: 1;
      @include transition();
    }
  }
}

.title {
  @include clamped-p2();
  @include transition();
  text-wrap: nowrap;
}

.arrow {
  width: 26px;
  height: 26px;
  transform: rotate(90deg);
  flex-shrink: 0;

  path {
    stroke-width: 1.5;
    stroke: $hover-color-darken;
    stroke-opacity: 1;
    @include transition();
  }
}

.active {
  background-color: $primary;
  color: $text-color;

  svg {
    path {
      stroke: $text-color;
    }
  }

  .arrow {
    visibility: hidden;
  }
}

@media (hover: hover) {
  .sidebar_item {
    &:hover {
      background-color: $primary;

      .title {
        color: $text-color;
      }

      .arrow,
      .icon {
        path {
          stroke: $text-color;
        }
      }
    }
  }
}

.sidebar_item:active {
  background-color: $primary;

  .title {
    color: $text-color;
  }

  .arrow,
  .icon {
    path {
      stroke: $text-color;
    }
  }
}

@media (max-width: $middle-breakpoint) {
  .sidebar_item {
    padding: 10px;
  }

  .item_content {
    gap: 10px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .icon,
  .arrow {
    width: 20px;
    height: 20px;
  }
}
