$row-gap: clamp(20px, 5vw, 43px);

.footer {
  overflow: hidden;
  position: relative;
  background-color: $accent;
  color: $text-color;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.logo {
  position: absolute;
  width: 420px;
  height: 420px;
  right: -20px;
  bottom: -72px;
}

.footer_container {
  @include flex-column;
  gap: 50px;
  @include container;
  padding: 25px 20px;
}

.content {
  display: flex;
  gap: 80px;
  justify-content: space-between;

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    //width: 100%;
    //max-width: 50%;

    li {
      a {
        @include transition(color);
        &:hover {
          color: $primary;
        }
      }
    }

    .list_title {
      @include clamped-h4;
      position: relative;
    }

    .list_item {
      @include clamped-p3;
    }
  }
}

.nav_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  align-items: flex-start;
  justify-items: center;
}

.copyright {
  @include clamped-p4;
}

@media (max-width: $mobile-breakpoint) {
  .copyright {
    text-align: center;
  }

  .content {
    flex-direction: column;
    gap: 20px;

    .list {
      text-align: left;
    }
  }
}
