.content {
  height: 668px;
  border-radius: 40px;
  background-color: var(--mantine-color-main-3);
}
.header {
  /* height: 668px;
  border-radius: 40px; */
  background-color: var(--mantine-color-main-3);
}

.body {
  height: 80%;
}

.root {
  height: 100%;
}
