.list_wrapper {
  @include flex-column;
  position: relative;
  align-items: center;
  gap: 60px;
  button {
    min-width: clamp(200px, 35vw, 400px);
  }
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 30px;
  margin-bottom: 72px;
}

.no_courses {
  opacity: 0.7;
  @include clamped-p3;
  display: flex;
  justify-content: center;
}

@media (max-width: $middle-breakpoint) {
  .list {
    row-gap: 12px;
    margin-bottom: 46px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .list_wrapper {
    gap: 40px;
  }

  .list {
    grid-template-columns: 1fr;
  }
}
