.page_content {
  @include flex-column();
  gap: 80px;
}

.main_content {
  @include flex-column();
  gap: 10px;
  max-width: 100%;
  width: 100%;
}

@media (max-width: $middle-breakpoint) {
  .page_content {
    gap: 60px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .page_content {
    gap: 30px;
  }

  .main_content {
    gap: 5px;
    margin-top: 45px;
  }
}
