.page_content {
  @include flex-column();
  gap: 80px;
}

.main_content {
  @include flex-column();
  gap: 30px;
  max-width: 100%;
  width: 100%;
}

.page_title {
  @include clamped-h3();
  text-transform: uppercase;
}

@media (max-width: $middle-breakpoint) {
  .page_content {
    gap: 60px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .main_content {
    gap: 15px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .page_content {
    gap: 30px;
  }

  .main_content {
    gap: 10px;
  }
}
