.skeletons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 20px;

  @media (max-width: $middle-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 12px;
  }

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .card {
    background-color: $light-grey;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
    @include flex-column();
    gap: 10px;

    @media (max-width: $middle-breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 12px;
    }

    @media (max-width: $tablet-breakpoint) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }

    @media (max-width: $mobile-breakpoint) {
      padding: 8px;
    }

    .card_header {
      height: 226px;

      .photo {
        @include skeleton($pos: relative, $w: 172px, $radius: 15px);
        margin: 0 auto !important;
      }

      @media (max-width: $sm-breakpoint) {
        height: 198px;

        .photo {
          width: 145px;
        }
      }

      @media (max-width: $mobile-breakpoint) {
        height: 142px;

        .photo {
          width: 105px;
        }
      }
    }

    .card_body {
      width: 100%;
      height: fit-content;
      @include flex-column();
      gap: 10px;

      h4 {
        @include skeleton($pos: relative, $h: 60px, $radius: 10px);
      }

      .formats {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;

        @media (max-width: $mobile-breakpoint) {
          display: none;
        }

        li {
          min-width: 50px;
          @include skeleton($pos: relative, $radius: 15px, $h: 25px);
        }
      }

      .formats > * {
        flex: 1 1 50px;
        max-width: 65px;
      }

      div {
        @include skeleton($pos: relative, $h: 40px, $radius: 10px);

        @media (max-width: $mobile-breakpoint) {
          height: 80px;
        }
      }
    }

    .card_bottom {
      display: flex;
      justify-content: space-between;
      gap: 5px;

      .buy {
        flex: 1;
        @include skeleton($pos: relative, $h: 40px, $radius: 40px);
      }

      .cart {
        @include skeleton($pos: relative, $w: 90px, $h: 40px, $radius: 40px);

        @media (max-width: $mobile-breakpoint) {
          width: 70px;
        }
      }
    }
  }
}
