.hidden {
  display: none;
}

.custom_player {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  background: $primary;
  padding: 30px 20px;
  border-radius: 20px;
  color: $background-color;
  width: 100%;
  height: fit-content;

  &.default {
    background-color: $accent;
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 25px 20px;
    gap: 25px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 15px 10px;
    gap: 15px;
    border-radius: 15px;
  }

  .mp3 {
    position: absolute;
    top: 5px;
    right: 15px;
    color: $background-color !important;
  }

  .controls {
    @include flex-center();
    flex-direction: row;
    gap: 15px;

    .play_button {
      cursor: default;
      padding: 0;
      margin: 0;

      .play,
      .pause {
        cursor: pointer;
      }
      &.blue {
        .play {
          path {
            fill: $secondary-lighter;
          }

          path:nth-child(2) {
            fill: $accent;
          }
        }

        .pause {
          path {
            fill: $secondary-lighter;
          }

          path:nth-child(3),
          path:nth-child(4) {
            stroke: $accent;
          }
        }
      }

      &.primary {
        .play {
          path {
            fill: $primary;
          }

          path:nth-child(2) {
            fill: $accent;
          }
        }

        .pause {
          path {
            fill: $primary;
            padding: 0;
            margin: 0;
          }

          path:nth-child(3),
          path:nth-child(4) {
            stroke: $accent;
          }
        }
      }
    }

    .previous,
    .next {
      &.blue {
        path {
          fill: $secondary-lighter;
        }
      }

      &.primary {
        path {
          fill: $primary;
        }
      }
    }

    @media (max-width: $tablet-breakpoint) {
      gap: 10px;

      &.disabled {
        opacity: 0.6;
      }

      .previous,
      .next {
        svg {
          height: 36px;
          width: 28px;
        }
      }
    }

    .previous {
      transform: scaleX(-1);
    }

    .previous,
    .next {
      svg {
        width: 32px;
        height: 40px;

        path {
          width: 100%;
          height: 100%;
        }

        @media (max-width: $tablet-breakpoint) {
          height: 36px;
          width: auto;
        }
      }
    }
  }
}

.progress_wrapper {
  @include flex-column();
  flex-grow: 1;
  gap: 8px;
  transform: translateY(50%);

  @media (max-width: $tablet-breakpoint) {
    transform: translateY(65%);
  }
}

.time_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .time {
    @include clamped-p3();
    text-align: center;
    color: $background-color;

    &.primary {
      color: $primary;
    }

    &.blue {
      color: $secondary-lighter;
    }
  }
}

.progress {
  flex: 1;
  appearance: none;
  max-height: 10px;
  border-radius: 40px;
  background: $background-color-06;
  cursor: pointer;
  transition: background 0.2s linear;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $background-color;
    cursor: pointer;
    @include transition();
  }
  &::-webkit-slider-thumb:hover {
    transform: scale(1.05);
  }

  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $background-color;
    cursor: pointer;
    border: none;
    @include transition();
  }

  &.primary {
    &::-webkit-slider-thumb {
      background: $primary;
    }

    &::-moz-range-thumb {
      background: $primary;
    }
  }

  &.blue {
    &::-webkit-slider-thumb {
      background: $secondary-lighter;
    }

    &::-moz-range-thumb {
      background: $secondary-lighter;
    }
  }
}
