.actionIcon {
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;

  top: 271px;
  left: 20px;
  width: 329px;
  height: 236px;
  padding: 26px 36px 36px 26px;
  border-radius: 20px;
  color: var(--mantine-color-background-3);
  background-color: var(--mantine-color-text-4);

  @media (max-width: $mantine-breakpoint-xs) {
    top: 151px;
    left: 20px;
    width: 137px;
    height: 107px;
    padding: 16px 12px 0;
    border-radius: 20px;
    color: var(--mantine-color-background-3);
    background-color: var(--mantine-color-text-4);
  }
}
