.eye {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 27px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  @include transition();

  &.error {
    margin-right: 35px;
  }

  svg {
    path {
      @include transition;
      fill: $text-color;
    }
  }

  &:hover {
    svg {
      path {
        fill: $accent;
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
      width: 25px;
      height: 21px;

    svg {
      width: 29px;
      height: 23px;
    }

    &.error {
      margin-right: 28px;
    }
    }
}
