.eye {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 27px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  @include transition();
  margin-right: 10px;

  &.error {
    margin-right: 45px;
  }

  svg {
    path {
      @include transition;
      fill: $text-color;
    }
  }

  &:hover {
    svg {
      path {
        fill: $accent;
      }
    }
  }

  &.admin {
    svg {
      path {
        fill: $accent-glass;
      }
    }

    &:hover {
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    width: 25px;
    height: 21px;

    svg {
      width: 29px;
      height: 23px;
    }

    &.error {
      margin-right: 38px;
    }
  }
}
