.modal {
  position: relative;
  @include flex-column;
  gap: 30px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  align-items: center;
  color: $accent;
  padding: 30px;
  height: 100%;
  background: $background-color;
  //backdrop-filter: blur(5px);
  border: 1.5px solid $hover-color;
  border-radius: 30px;
  z-index: 10;
  -webkit-box-shadow: 0 3px 20px 6px rgba(1, 67, 61, 0.1);
  -moz-box-shadow: 0 3px 20px 6px rgba(1, 67, 61, 0.1);
  box-shadow: 0 3px 20px 6px rgba(1, 67, 61, 0.1);
}

.modal_header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.close_button {
  position: relative;
  justify-self: flex-start;
  width: 45px;
  height: 45px;

  svg {
    circle {
      stroke: $accent;
    }
    path {
      fill: $accent;
    }

    @media (hover: hover) {
      &:hover {
        circle {
          stroke: $error-color;
        }
        path {
          fill: $error-color;
        }
      }
    }
  }
}

.languages_list {
  display: flex;
  justify-self: flex-end;
  gap: 12px;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid $hover-color;
  //background-color: $hover-color;
  padding: 8px 30px;
  //max-width: 30px;
  //overflow: hidden;
  //@include transition();
}

.search_body {
  @include flex-column;
  width: 80%;
  justify-content: space-between;
  align-items: flex-end;
}

.results_list {
  position: relative;
  @include custom-scrollbar;
  @include flex-column;
  border-radius: 10px;
  gap: 20px;
  padding-right: 15px;
  height: 100%;
  width: 100%;
}

.dropdown_title {
  text-transform: uppercase;
  @include clamped-p1;
}

.search_wrapper {
  //@include flex-column;
  align-items: flex-end;
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.search_filters {
  display: flex;
  gap: 10px;
  flex: 0;

  button {
    @include clamped-p4;
  }
}

.search_results {
  @include clamped-p3;
  text-align: right;
}


@media (max-width: $mobile-breakpoint) {
  .modal {
    padding: 17px;
  }

  .search_wrapper {
    width: 100%;
  }

  .search_results {
    text-align: center;
  }

  .close_button {
    width: 30px;
    height: 30px;
  }

  .results_list {
    gap: 10px;
    padding-right: 10px;
  }
}
