.user_profile_info {
  @include flex-center();
  gap: 10px;
  max-width: 100%;
  text-overflow: ellipsis;
  min-width: 0;

  svg {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    circle {
      fill: $hover-color-darken-analogue;
      stroke: $hover-color-darken-analogue;
    }
  }

  span {
    @include clamped-p4();
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    min-width: 0;
  }
}
