$input-wrapper-pb: clamp(3px, 0.5vw, 6px);
$input-wrapper-pt: clamp(15px, 3vw, 28px);

.input_wrapper {
  position: relative;
  padding-top: $input-wrapper-pt;
  padding-bottom: $input-wrapper-pb;
  width: 100%;
  padding-right: clamp(40px, 4vw, 62px);

  &.error {
    &::after {
      background-color: $error-color;
    }

    &:focus-within .placeholder_label,
    &.filled .placeholder_label {
      color: $error-color;
    }
  }

  @include clamped-h4();
  @include horizontal-line(
    $z: 2,
    $bottom: 0,
    $left: 50%,
    $transform: x50,
    $width: 100%,
    $height: 1.5px
  );

  &::after {
    @include transition();
  }

  &:focus-within:not(.error) {
    &::after {
      background-color: $primary;
      width: 102%;
    }

    .search_icon {
      cursor: pointer;
      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }

  &:focus-within .placeholder_label,
  &.filled .placeholder_label {
    @include clamped-p4();
    top: 0;
    color: $hover-color-dark;
    transform: none;
  }

  .placeholder_label {
    @include clamped-p2();
    @include transition();
    display: flex;
    gap: 5px;
    position: absolute;
    top: $input-wrapper-pt;
    left: 0;
    pointer-events: none;
    color: $accent-06;
  }

  .search_icon {
    svg {
      width: clamp(18px, 4vw, 30px);
      height: clamp(18px, 4vw, 30px);
      path {
        @include transition();
      }
    }
  }

  .icons {
    position: absolute;
    right: 2px;
    top: $input-wrapper-pt;
    display: flex;
    gap: 5px;
  }

  .clear_icon {
    cursor: pointer;
    position: relative;

    svg {
      path {
        stroke-width: 1;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $error-color;
        }
      }
    }

    svg {
      width: clamp(18px, 4vw, 30px);
      height: clamp(18px, 4vw, 30px);

      path {
        @include transition;
      }
    }
  }
}

.search_input {
  width: 100%;
  @include clamped-p2();
}

@media (max-width: $middle-breakpoint) {
  .icons {
    transform: translateY(-10%);
  }
}

@media (max-width: $mobile-breakpoint) {
  .icons {
    transform: translateY(-2%);
  }
}
