.photo_uploader {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1.5px solid $hover-color;
  padding: 20px;
  border-radius: 30px;
}

.input_wrapper {
  @include clamped-p2;
  @include flex-column;
  justify-content: center;
  position: relative;
  gap: 5px;

  input {
    display: none;
  }

  label {
    @include transition;
    cursor: pointer;
    border: 1px solid $accent;
    border-radius: 10px;
    width: 100%;
    padding: 10px;

    &:hover {
      color: $text-color;
      background-color: $accent;
    }
  }
}

.photo_preview {
  max-width: 700px;
  min-width: 400px;
  height: 265px;
  border-radius: 20px;
  overflow: hidden;
  outline: 1px solid $accent;
  @include flex-center();

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  svg {
    height: calc(100% - 40px);
    width: auto;
    path,
    rect {
      stroke: $accent;
      stroke-width: 8px;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .photo_uploader {
    gap: 15px;
    flex-direction: column;
  }

  .photo_preview {
    min-width: 100%;
  }
}
