$card-width: 610px;
$card-height: 582px;

$card-header-height: 120px;
$card-header-width: $card-width - 325px;

$card-bottom-height: 208px;
$card-bottom-width: $card-width - 190px;

$card-body-height: $card-height - $card-bottom-height - $card-header-height;

$arrow-w: 66px;

.hero {
  position: relative;

  .hero_top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
    gap: 30px;

    h1 {
      text-align: right;
      display: block;
      max-width: 918px;
      margin-bottom: 10px;
    }

    .card_header {
      position: relative;
      background-color: $primary;
      flex: 1;
      //min-width: 150px;
      height: clamp(70px, 15vw, $card-header-height);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);

      @include circle-angle(
        $bottom: 0,
        $right: calc(var(--border-radius) * (-2)),
        $size: calc(var(--border-radius) * 2),
        $offset-x: -20px,
        $offset-y: 20px,
        $shadow-color: $primary,
        $border-bottom-left-radius: var(--border-radius)
      );
    }
  }

  .hero_content_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .card {
    @include flex-column;
    max-height: $card-height;
    flex: 1;

    .card_body {
      position: relative;
      flex: 1;
      min-width: 320px;
      min-height: clamp(134px, 31vw, $card-body-height);
      width: 100%;
      background-color: $primary;
      border-bottom-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    .photo {
      z-index: 2;
      margin: 0 clamp(10px, 2vw, 20px);
      position: absolute;
      overflow: hidden;
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      top: clamp(20px, 5vw, 50px);
      left: 0;
      right: 0;
      height: clamp(171px, 40vw, 324px);
      background-color: $accent-glass;
      backdrop-filter: blur(5px);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      div {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
    }

    .card_bottom {
      margin-left: auto;
      position: relative;
      background-color: $primary;
      min-height: clamp(110px, 31vw, 208px);
      width: 69%;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);

      @include circle-angle(
        $top: 0,
        $left: calc(var(--border-radius) * (-2)),
        $size: calc(var(--border-radius) * 2),
        $offset-x: 20px,
        $offset-y: -20px,
        $shadow-color: $primary,
        $border-top-right-radius: var(--border-radius)
      );
    }
  }

  .hero_content {
    position: relative;
    padding-top: var(--offset);
    @include horizontal-line($top: 0, $right: 0, $width: 100%);

    h2 {
      @include clamped-h2;
      text-transform: uppercase;
      color: $primary;
      margin-bottom: var(--offset);
    }

    p {
      @include clamped-p2;
      margin-right: 75px;
      margin-bottom: 95px;
    }

    .arrow {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-bottom: var(--offset);
      height: $arrow-w;
      position: relative;
      max-width: 255px;
      @include horizontal-line(
        $top: 50%,
        $left: 0,
        $width: 256px - $arrow-w,
        $transform: y50 -2px
      );
      svg {
        height: 100%;
        width: $arrow-w;
        circle {
          stroke-width: 2px;
          stroke: $accent;
        }
        path {
          fill: $accent;
        }
      }
    }
  }

  @media (max-width: $middle-breakpoint) {
    .hero_content_wrapper {
      @include flex-column;
    }

    .hero_content {
      p {
        margin: 0 0 20px 0;
      }
    }
  }

  @media (max-width: 940px) {
    .hero_top {
      gap: 0;

      h1 {
        max-width: 60%;
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    .hero_content {
      .arrow {
        width: 229px;
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
