.multi_select_wrapper {
  min-width: 150px;
}

.total_count {
  @include clamped-p2;
  text-align: right;
}

.list_container {
  @include flex-column;
  flex: 1;
  gap: 10px;
}

.list {
  @include flex-column;
  position: relative;
  flex: 1;
  gap: 20px;
}

.not_found {
  @include clamped-p2;
  text-align: center;
  opacity: 0.7;
}

.filters_top {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  align-items: center;
  gap: 10px;

  button {
    margin-left: auto;
  }
}

.filters_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: $mobile-breakpoint) {
  .filters_top {
    display: flex;
    flex-direction: column-reverse;
    align-items: unset;
  }
}