$border-radius: 20px;

.card {
  hyphens: auto;
  @include fadeInMove();
  @include flex-column;
  position: relative;

  &::before {
    @include transition();
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: $primary;
    border-radius: $border-radius;
    z-index: -1;
  }

  @media (hover: hover) {
    &:hover {
      .card_content {
        background-color: $primary;
      }

      &::before {
        width: calc(100% + 10px);
        height: calc(100% + 20px);
      }

      &.blue {
        .card_content {
          background-color: $secondary-lighter;
        }
      }
    }
  }

  &.blue {
    &::before {
      background-color: $secondary-lighter;
    }

    .card_content {
      border-color: $secondary-lighter;
    }
    color: $secondary;
  }
}

.card_content {
  @include flex-column;
  @include clamped-p2;
  @include transition();
  background-color: $background-color;
  border-radius: $border-radius;
  padding: 15px;
  flex: 1;
  gap: 10px;
  justify-content: space-between;
  border: 2px solid $primary;

  img {
    border-radius: $border-radius;
    width: 100%;
    aspect-ratio: 16/9;
  }

  .no_photo {
    background-color: $accent-glass;
    object-fit: contain;
  }
}

.card_bottom {
  @include clamped-p3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: $accent;
}

.status {
  border-radius: $border-radius;
}

.watch {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: lowercase;
  padding: 2px 15px;
  background-color: $accent;
  color: $text-color;
  border-radius: $border-radius;
  @include transition();

  svg {
    width: 16px;
    height: 16px;
    path {
      @include transition();
      fill: $background-color;
      stroke-width: 1px;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $background-color;
      color: $accent;

      svg {
        path {
          fill: $accent;
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .card_content {
    flex-direction: row;
    padding: 10px;
    border-width: 1px;

    img {
      flex-shrink: 0;
      width: 40%;
      height: auto;
      max-height: 75px;
      border-radius: 10px;
    }
  }

  .card_bottom {
    padding: 8px 10px;
  }

  .watch {
    gap: 5px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
}
