.btn_wrapper {
  position: fixed;
  bottom: 30px;
  right: 50px;
  background-color: $primary-04;
  backdrop-filter: blur(20px);
  padding: 2px;
  z-index: 300;
  opacity: 0;
  @include transition;
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  &:active {
    .scroll_btn {
      background-color: transparent;
      //border-color: $primary;
      svg {
        path {
          fill: $background-color;
        }
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      .scroll_btn {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
  }
}

.scroll_btn {
  width: 100%;
  height: 100%;
  padding: 10px;
  @include flex-center;
  background-color: $background-color-09;
  @include transition;
  border-radius: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;

  svg {
    $size: 19px;
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    transform: rotate(-90deg);

    path {
      @include transition;
      fill: $accent;
      stroke-width: 1;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .btn_wrapper {
    bottom: 80px;
    right: 10px;
    width: 42px;
    height: 42px;
  }
}
