.modal {
  @include flex-column;
  align-items: center;

  form {
    @include flex-column;
    gap: 30px;
    width: 90%;
  }

  .modal_text {
    @include clamped-p4;
    margin-top: 10px;
    text-align: center;
  }

  .courses {
    overflow-y: auto;
    max-height: 180px;
    border-top: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    margin-bottom: 20px;
    @include custom-scrollbar;
    padding: 0 20px;
  }

  .course {
    @include clamped-p3;
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    &:not(:last-child) {
      @include horizontal-line(
        $height: 1px,
        $color: $text-color,
        $bottom: 0,
        $width: 70%,
        $right: 0
      );
    }
  }

  .course_prices {
    @include flex-column;
    gap: 5px;
    align-items: center;

    span {
      &:last-child {
        opacity: 0.75;
        @include clamped-p4;
      }
    }
  }

  .total_text {
    @include clamped-h2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;

    div {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        &:last-child {
          opacity: 0.75;
          @include clamped-p2;
        }
      }
    }
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 10px;
    li {
      height: 50px;
      width: 50px;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    .logos {
      column-gap: 5px;

      li {
        width: 35px;
        height: 35px;
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    .courses {
      max-height: 140px;
    }

    form {
      gap: 15px;
    }

    .course {
      gap: 15px;
      padding: 10px 0;
    }

    .courses {
      padding: 0 10px;
    }
  }
}
