.admin_wrapper {
  margin-bottom: 40px;
  width: 100%;

  button {
    width: 100%;
  }
}

.profile_page_wrapper {
  @include flex-column();
  margin-top: 140px;
  gap: 80px;
}

.back_btn_tabs_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  button {
    margin-bottom: 0;
  }
}

.btns_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: fit-content;
  gap: 5px;
  padding: 10px 20px;
  border: 1px solid $hover-color;
  border-radius: 20px;
  margin-bottom: 40px;
}

.btn {
  text-wrap: nowrap;
  @include clamped-p2-line-height;
  color: $accent;
  align-self: center;
  height: fit-content;
  padding: 4px 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  @include transition;
  text-align: center;
  flex-shrink: 0;

  @media (hover: hover) {
    &:hover {
      color: $text-color;
      background-color: $primary;
      border-color: $primary;
    }
  }

  &.active {
    color: $text-color;
    background-color: $primary;
    border-color: $primary;
  }
}

@media (max-width: $tablet-breakpoint) {
  .profile_page_wrapper {
    margin-top: 80px;
  }

  .btns_container {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .btn {
    border-color: $hover-color;
    padding: 5px 2px;

    &.full {
      grid-column: 1 / -1;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .profile_page_wrapper {
    margin-top: 60px;
    gap: 50px;
  }
  .back_btn_tabs_container {
    margin-bottom: 20px;
  }
}
