.admin_wrapper {
  margin-bottom: 40px;
  align-self: flex-end;
}

.profile_page_wrapper {
  margin-bottom: 140px;
}

.back_btn_tabs_container {
  display: flex;
  justify-content: space-between;
  //display: grid;
  //grid-template-columns: 30px 1fr 80px ;
  gap: 20px;
  margin-bottom: 40px;
  button {
    margin-bottom: 0;
  }
}

.btns_container {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 5px;
  padding: 10px 20px;
  border: 1px solid $hover-color;
  border-radius: 20px;
  overflow-y: auto;
}

.btn {
  @include clamped-p2-line-height;
  color: $accent;
  padding: 4px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  @include transition;
  text-align: center;
  flex-shrink: 0;

  @media (hover: hover) {
    &:hover {
      color: $text-color;
      background-color: $primary;
      border-color: $primary;
    }
  }

  &.active {
    color: $text-color;
    background-color: $primary;
    border-color: $primary;
  }
}

@media (max-width: $tablet-breakpoint) {
  .profile_page_wrapper {
    margin-bottom: 80px;
  }

  .btns_container {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .btn {
    border-color: $hover-color;
    padding: 5px 2px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .profile_page_wrapper {
    margin-bottom: 60px;
  }
  .back_btn_tabs_container {
    margin-bottom: 20px;
  }
}
