.eye {
  position: absolute;
  top: 50%;
  right: 0;
  width: 26px;
  height: 26px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  @include transition();
  margin-right: 15px;
  @include flex-center();

  &.error {
    margin-right: 45px;
  }

  svg {
    height: 100%;
    width: auto;
    path {
      @include transition;
      stroke: $text-color;
      stroke-width: 1.5;
    }
  }

  &:hover {
    svg {
      path {
        stroke: $accent-glass;
      }
    }
  }

  &.admin {
    margin-right: 10px;

    &.error {
      margin-right: 40px;
    }
    svg {
      height: 23px;
      path {
        stroke: $accent-glass;
        stroke-width: 1;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    width: 25px;
    height: 21px;

    svg {
      width: 29px;
      height: 23px;
    }

    &.error {
      margin-right: 38px;
    }
  }
}
