.card {
  padding: 20px;
  display: flex;
  gap: 20px;
  position: relative;
  @include transition;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  @include horizontal-line($left: 50%, $width: 90%, $bottom: -13.5px, $color: $hover-color, $transform: x50, $events: off);

  .icon {
    @include flex-center;
    height: 100%;
    width: 30px;

    svg {
      path {
        @include transition;
        stroke: $accent;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $primary-02;
      border-color: $primary;
    }
  }

  &:active {
    background-color: $primary-04;
  }

  &:focus-visible {
    outline: none;
    background-color: $hover-color;

  }
}