.courses {
  @include flex-column;
  gap: 40px;
}

.courses_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.no_courses {
  @include flex-center;
  @include clamped-p2;
}

@media (max-width: $middle-breakpoint) {
  .courses_list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $mobile-breakpoint) {
  .courses {
    gap: 20px;
  }

  .courses_list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
