.header {
  position: relative;
  border: none !important;
  height: 58px;
  padding: 0 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
    height: 30px;
    padding: 0 20px;
  }
}

.logo {
  height: 58px;
  width: 92px;

  & svg {
    height: 58px;
    width: 92px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    height: 30px;

    & svg {
      height: 30px;
      width: 48px;
    }
  }
}

.loginButton {
  padding-top: 0px;
  max-width: 400px;

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: 10%;
  }
}