.navigate_container {
  @include flex-column();
  gap: 10px;
  padding: 10px;
  border: 1px solid $hover-color;
  border-radius: 15px;
  height: fit-content;
  align-items: center;
}

.navigate_button {
  background-color: $primary;
  border-radius: 30px;
  padding: 8px 25px;
  @include clamped-p4();
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $text-color;
  @include transition();
  border: 1px solid $primary;
  max-width: 400px;
  width: 100%;

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: $text-color;
      @include transition();
    }
  }

  span {
    @include flex-center();
    gap: 10px;

    svg {
      path {
        fill: none;
        stroke: $text-color;
        stroke-width: 2;
        opacity: 1;
      }
    }
  }
}

.reserve_email {
  @include clamped-p5();
  text-align: center;

  span {
    color: $primary;
  }
}

@media (hover: hover) {
  .navigate_button {
    &:hover {
      background-color: transparent;
      color: $primary;

      svg {
        path {
          fill: $primary;
        }
      }

      span {
        svg {
          path {
            stroke: $primary;
            fill: none;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .navigate_button {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .navigate_container {
    padding: 10px;
    gap: 10px;
  }
}
