.list_title {
  position: relative;
  color: $primary;
  @include clamped-p3;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 12px;
  @include horizontal-line($left: 50%, $width: 99%, $height: 2px, $bottom: 0, $color: $primary-06, $transform: x50);

  span {
    font-size: inherit;
  }

  .quantity {
    color: $background-color;
    padding: 0 15px;
    background-color: $primary-06;
    border: 0.5px solid $primary;
    border-radius: 25px;
  }
}
