.purchase_history {
  @include flex-column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
  text-transform: uppercase;
  gap: 20px;
  @include clamped-h3;
}

.purchase_history_container {
  @include flex-column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
  border: 2px solid $hover-color;
  border-radius: 40px;
}

@media (max-width: $tablet-breakpoint) {
  .purchase_history {
    gap: 15px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .purchase_history_container {
    border: 1px solid $hover-color;
    border-radius: 20px;
  }
}
