.multi_select {
  @include clamped-p2;
  @include flex-column;
  justify-content: flex-end;
  position: relative;
  //gap: 5px;
  //min-height: 95px;

  @media (max-width: $mobile-breakpoint) {
    min-height: unset;
  }
}
