.course_authors {
  display: flex;
  align-items: center;
  gap: 5px;

  &.small {
    .author_photo {
      width: 30px;
      height: 30px;
      border: 1px solid $primary;
    }

    p {
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.large {
    gap: 10px;

    .author_photo {
      width: 50px;
      height: 50px;
      border-color: $background-color;
    }

    p {
      @include clamped-p3;
    }
  }
}

.authors_photos_list {
  display: flex;
  gap: 5px;
}

.author_photo {
  border: 2px solid $primary;
  background-color: $hover-color;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: -10px;
  z-index: 1;

  &.blue {
    border-color: $secondary-lighter;
  }
}

.author_photo:first-child {
  margin-left: 0;
}

@media (max-width: $mobile-breakpoint) {
  .course_authors {
    gap: 5px;
    p {
      font-size: 12px;
    }

    &.large {
      gap: 5px;

      .author_photo {
        width: 40px;
        height: 40px;
      }
    }
  }

  .author_photo {
    width: 30px;
    height: 30px;
  }
}
