$card-width: 340px;
$card-height: 550px;
$card-header-height: 55px;

$card-bottom-height: $card-header-height;
$card-bottom-width: $card-width - 190px;

$border-radius-xs: 15px;
$border-radius-small: 20px;
$border-radius-medium: 25px;
$border-radius-big: 30px;

.professor_hero {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  width: 100%;
}

.professor_cards {
  @include flex-column;
  gap: 40px;
}

.professor_name {
  position: relative;
  @include horizontal-line($left: 0, $width: 70%, $bottom: -10px);
  @include skeleton(
    $pos: relative,
    $h: clamp(31px, 8vw, 95px),
    $color: $light-grey,
    $radius: $border-radius-big
  );
}

.professor_info {
  @include flex-column;
  gap: 30px;
  position: relative;
  padding-bottom: 30px;
  flex-grow: 1;
  @include horizontal-line($right: 0, $width: 70%, $bottom: 0);

  button {
    align-self: center;
    width: fit-content;
  }

  .professor_description {
    @include skeleton(
      $pos: relative,
      $h: clamp(235px, 10vw, 250px),
      $color: $light-grey
    );

    @media (max-width: $mobile-breakpoint) {
      @include skeleton(
        $pos: relative,
        $h: clamp(120px, 15vw, 250px),
        $color: $light-grey
      );
    }
  }
}

.buy_section {
  @include flex-column;
  gap: 30px;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
  background-color: $light-grey;
}

.buy_section_desc {
  @include skeleton($pos: relative, $h: clamp(40px, 5vw, 60px));
}

.buy_button {
  @include skeleton(
    $pos: relative,
    $h: clamp(16px, 2.5vw, 26px),
    $w: clamp(200px, 35vw, 400px),
    $radius: $border-radius-big
  );

  padding: clamp(9.5px, 2vw, 12.5px) clamp(10px, 2vw, 20px);
  box-sizing: content-box;
}

.professor_access {
  display: flex;
  align-items: center;
  gap: 20px;

  @include skeleton($pos: relative, $h: clamp(52px, 8vw, 80px));
}

.card_wrapper {
}

.card {
  @include flex-column;
  height: $card-height;
  width: $card-width;
  flex: 1;

  .card_header {
    position: relative;
    background-color: $light-grey;
    width: 69%;
    min-height: 55px;
    border-top-left-radius: var(--border-radius-smaller);
    border-top-right-radius: var(--border-radius-smaller);

    @include circle-angle(
      $bottom: 0,
      $right: -40px,
      $size: 40px,
      $offset-x: -15px,
      $offset-y: 15px,
      $shadow-color: $light-grey,
      $border-bottom-left-radius: var(--border-radius-smaller)
    );
  }

  .card_body {
    position: relative;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: $light-grey;
    border-bottom-left-radius: var(--border-radius-smaller);
    border-top-right-radius: var(--border-radius-smaller);
  }

  .photo {
    z-index: 2;
    margin: 0 15px;
    position: absolute;
    overflow: hidden;
    border-radius: var(--border-radius-smaller);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 15px;
    background-color: $darker-grey;
    backdrop-filter: blur(5px);
  }

  .card_bottom {
    margin-left: auto;
    position: relative;
    background-color: $light-grey;
    min-height: $card-bottom-height;
    width: 69%;
    border-bottom-left-radius: var(--border-radius-smaller);
    border-bottom-right-radius: var(--border-radius-smaller);

    @include circle-angle(
      $top: 0,
      $left: -40px,
      $size: 40px,
      $offset-x: 15px,
      $offset-y: -15px,
      $shadow-color: $light-grey,
      $border-top-right-radius: var(--border-radius-smaller)
    );
  }
}

@media (max-width: $tablet-breakpoint) {
  .professor_page {
    gap: 60px;
  }

  .card {
    width: 240px;
    height: 400px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .professor_name {
    order: 1;
  }

  .buy_section {
    padding: 30px 15px;
  }

  .professor_hero {
    flex-direction: column;
    gap: 20px;

    .professor_info {
      order: 3;
      gap: 10px;
      padding-bottom: 20px;
    }
  }

  .card {
    width: 100%;

    .photo {
      top: 10px;
      bottom: 10px;
    }
  }

  .card_wrapper {
    order: 2;
  }

  .professor_access {
    flex-direction: column;

    svg {
      min-width: 40px;
      width: 40px;
      height: 40px;
    }
  }
}
