.card {
  @include transition();
  padding: 15px;
  position: relative;
  border-radius: 20px;
  border: 1px solid $primary;
  cursor: pointer;
  background-color: $background-color;
  @include flex-column;
  gap: 10px;
  justify-content: space-between;
  z-index: 2;

  &.blue {
    border-color: $secondary-lighter;

    .prices {
      background-color: $secondary-lighter-08;
      border-color: $secondary-lighter;

      .old_price {
        color: $secondary;
      }
    }

    .tag {
      color: $secondary-08;
      border-color: $secondary-lighter;
      background-color: $secondary-lighter-08;
    }

    .format_item {
      border-color: $secondary-lighter;
      color: $secondary-lighter;
    }
  }

  @media (hover: hover) {
    &:hover {
      transform: translateY(-7px);
      box-shadow: 10px 10px 0 -3px $primary-08;

      &.blue {
        box-shadow: 10px 10px 0 -3px $secondary-lighter-08;
      }
    }
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 4px 4px 0 -1px $primary-08;

    &.blue {
      box-shadow: 4px 4px 0 -1px $secondary-lighter-08;
    }
  }
}

.card_top {
  @include flex-column;
  gap: 5px;
}

.book_name {
  @include clamped-p3-line-height();
  line-height: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  hyphens: auto;
  word-break: break-word;
}

.formats_list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px 0;
  justify-content: center;
}

.formats_list > * {
  flex: 1 1 50px;
  max-width: 49px;
}

.format_item {
  border: 1px solid $primary;
  border-radius: 15px;
  color: $primary;
  @include clamped-p6();
  padding: 2px 4px;
  text-align: center;
  min-width: 40px;
}

.lang_logo {
  z-index: 20;
  position: absolute !important;
  top: 0;
  left: 0;
}

.book_info {
  li {
    @include clamped-p5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
    word-break: break-word;
    gap: 3px;
    text-transform: capitalize;
  }

  .book_info_value {
    color: $hover-color-dark;
  }
}

.images_container {
  position: relative;
  margin-bottom: 5px;
}

.tag {
  position: absolute;
  bottom: 0;
  width: fit-content;
  left: -15px;
  @include clamped-p5();
  border: 1px solid $primary;
  background-color: $primary-08;
  backdrop-filter: blur(2px);
  padding: 1px 10px 1px 3px;
  color: $tertiary-08;
  text-transform: uppercase;
  border-radius: 0 28px 28px 0;
  border-left: unset;
  z-index: 20;
}

.prices {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 8px;
  gap: 3px;
  border: 1px solid $primary;
  background-color: $primary-08;
  backdrop-filter: blur(1px);
  border-radius: 28px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;

  .new_price {
    color: $background-color;
    font-size: 22px;
    line-height: 22px;
  }

  .old_price {
    font-size: 14px;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    color: $tertiary;
    opacity: 0.8;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.buy_btn {
  @include transition();
  color: $background-color;
  background-color: $accent;
  border-radius: 20px;
  @include clamped-p3();
  padding: 5px;
  flex: 1;
  box-shadow:
    0 0 0 1px $background-color,
    0 0 0 0 $accent;

  @media (hover: hover) {
    &:hover {
      background-color: $primary;
      box-shadow:
        0 0 0 1px $background-color,
        0 0 0 2px $primary;

      &.blue {
        background-color: $secondary-lighter;
        box-shadow:
          0 0 0 1px $background-color,
          0 0 0 2px $secondary-lighter;
      }
    }
  }

  &:active {
    background-color: $tertiary;

    &.blue {
      background-color: $secondary;
    }
  }
}

.cart_btn {
  position: relative;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid $accent;
  @include transition;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 5px;
  width: 92px;
  max-height: 36px;

  &.active {
    border-color: $primary;
    background-color: $primary;

    &.blue {
      background-color: $secondary-lighter;
      border-color: $secondary-lighter;
    }

    svg {
      width: 16px;
      height: 16px;
      path {
        @include transition;
        stroke: $background-color;
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }

  @media (hover: hover) {
    &:hover {
      border-color: $primary;
      background-color: $primary;

      &.blue {
        border-color: $secondary-lighter;
        background-color: $secondary-lighter;
      }

      svg {
        path {
          stroke: $background-color;
        }
      }

      &.active {
        border-color: $error-color;
        background-color: $background-color;
        color: $accent;

        svg {
          path {
            stroke: $error-color;
          }
        }
      }
    }
  }

  &:active {
    border-color: $accent !important;
    background-color: $primary !important;

    &.blue {
      background-color: $secondary-lighter !important;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .card {
    gap: 6px;
    padding: 8px;
  }

  .tag {
    font-size: 9px;
    left: -8px;
    bottom: -5px;
    padding: 1px 5px 1px 2px;
    border-width: 0.5px;
  }

  .prices {
    .new_price {
      font-size: 20px;
      line-height: 20px;
    }

    .old_price {
      font-size: 12px;
      line-height: 12px;
    }
  }

  .formats_list {
    flex-wrap: nowrap;
    gap: unset;
    padding: 2px 0;
  }

  .format_item {
    min-width: unset;
    border-left: unset;
    border-right: unset;
    border-radius: unset;
    border-width: 0.5px;
    padding: 2px 0;
    line-height: 10px;
  }

  .book_name {
    font-size: 16px;
    line-height: 16px;
  }

  .cart_btn {
    min-width: 50px;
    padding: 3px;
    width: fit-content;

    svg {
      width: 18px;
      height: 18px;
    }

    .btn_text {
      display: none;
    }
  }
}
