.filters_panel_container {
  @include flex-column;
  gap: 20px;
}

.filters_panel {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr;
  align-items: end;
  gap: 20px;
}

.select {
  width: 100%;
}

.chevron_icon {
  transform: rotate(270deg);
}

.found_items_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  p {
    @include transition;
    border: 1px solid $hover-color;
    padding: 7px 15px;
    border-radius: 12px;
    @include clamped-p3;
  }
}

.elements_found {
  margin-left: auto;
}

.reset_chip {
  opacity: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: $middle-breakpoint) {
  .filters_panel {
    gap: 40px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .filters_panel {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .filters_panel {
    gap: 10px;
  }


  .filters_panel_container {
    gap: 15px;
  }

  .filter_controls {
    gap: 10px;
  }
}
