.filters_panel_container {
  @include flex-column;
  gap: 30px;
}

.filters_panel {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  gap: 60px;
}

.filter_controls {
  justify-self: end;
  width: max-content;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-items: end;
}

.chevron_icon {
  transform: rotate(270deg);
}

@media (max-width: $middle-breakpoint) {
  .filters_panel {
    gap: 40px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .filters_panel {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
  }

  .filter_controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: $mobile-breakpoint) {
  .filters_panel {
    gap: 10px;
  }


  .filters_panel_container {
    gap: 20px;
  }

  .select {
    width: 100%;
  }

  .filter_controls {
    gap: 10px;
  }
}
