.floating_tools {
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 997;
  height: 50px;
  width: fit-content;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: $tablet-breakpoint) {
  .floating_tools {
    bottom: 80px;
    right: 10px;
    height: 45px;
  }

  .translate {
    transform: translateY(-55px);
  }
}
