.admin_page {
  @include transition();
  display: flex;
  max-width: inherit;
  gap: 30px;
  width: 100%;

  &_header {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    h2 {
      text-align: left;
      @include clamped-h2;
      text-transform: uppercase;
    }
  }

  .admin_content {
    @include flex-column;
    @include transition();
    gap: 10px;
    flex: 1;
    min-width: 0;
    margin-left: auto;
  }

  @media (max-width: $tablet-breakpoint) {
    & {
      display: flex;
      flex-direction: column;

      .admin_content {
        width: 100%;
      }
    }
  }
}
