.pagination_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  position: relative;
  display: flex;
  width: fit-content;
  gap: 10px;
  border-radius: var(--border-radius);
}

.ellipsis {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  @include clamped-p2;
}

.pagination_buttons {
  display: flex;
  gap: 5px;
}

@media (max-width: $mobile-breakpoint) {
  .pagination_buttons {
    gap: 2px;
  }

  .pagination {
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
