.icon {
  &.primary {
    color: black;
  }
  &.back {
    color: #edf8ff;
  }

  &.inherit {
    color: inherit;
  }

  &.secondary {
    color: var(--token-color-secondary-gray);
  }

  &.secondaryBlue {
    color: var(--mantine-color-secondaryBlue-5);
  }

  &.main {
    color: var(--token-color-main);
  }

  &.green {
    color: var(--mantine-color-text-8);
  }

  &.greenBackground {
    color: #edf8ff;

    & svg circle {
      fill: var(--mantine-color-text-8);
      stroke: var(--mantine-color-text-8);
    }

  }
}
