.survey_modal {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  margin: 0 auto;
  background-color: $accent-glass;
  border-radius: 40px;
  overflow: hidden;
  height: 100%;
  -webkit-box-shadow: 0 5px 5px -4px $accent-03;
  -moz-box-shadow: 0 5px 5px -4px $accent-03;
  box-shadow: 0 5px 5px -4px $accent-03;
  padding: 20px 30px;
  color: $text-color;
  backdrop-filter: blur(10px);

  form {
    @include flex-center();
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    max-height: 100%;
  }
}

.title {
  @include clamped-p2();
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
}

.description {
  @include clamped-p4();
  width: 100%;
  text-align: center;
  overflow: scroll;
  @include custom-scrollbar();
  max-height: 100px;
  padding-right: 10px;
}

.highlight {
  color: $primary;
}

.error {
  color: $error-color !important;
}

.survey_questions {
  @include flex-column();
  width: 100%;
  gap: 10px;
  padding-right: 10px;
  overflow-y: auto;
  @include custom-scrollbar();

  p,
  label {
    @include clamped-p4();
    color: $accent-glass;
    margin-bottom: 5px;
  }

  .option {
    @include clamped-p5();
    width: 100%;
    padding: 10px 5px;
    border-radius: 8px;

    div {
      border-color: $tertiary-08;
      height: 15px;
      width: 15px;
    }
  }
}

.active {
  background-color: $tertiary-08;
}

.question {
  background-color: $primary-08-analogue;
  border-radius: 15px;
  padding: 10px;
  color: $text-color-accent;
  @include flex-column();
}

.bottom_els {
  @include flex-column();
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;

  .question {
    width: 100%;
    height: 200px;

    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      background-color: $primary-04-analogue;
      border-radius: 10px;
      border: 1px solid $primary;
      padding: 10px;
      @include clamped-p4();
      color: $accent;
      overflow: scroll;

      &::placeholder {
        color: $tertiary;
      }
    }
  }
}

.submit_btn {
  width: 100%;
  max-width: 500px;
  text-transform: capitalize;
  justify-self: center;
  @include clamped-p2();
  height: 60px;
  @include flex-center();
  gap: 10px;
  margin-top: 15px;

  svg {
    width: 24px;
    height: 24px;

    path {
      stroke: $accent;
      @include transition();
      fill: unset !important;
    }
  }

  &:active {
    svg {
      path {
        stroke: $primary !important;
      }
    }
  }
}

.close_button {
  height: 33px;
  width: auto;

  &:hover {
    svg {
      circle {
        stroke: $error-color;
      }
      path {
        fill: $error-color;
      }
    }
  }

  &:active {
    svg {
      circle {
        stroke: $error-color;
      }
      path {
        fill: $error-color;
      }
    }
  }
}

@media (hover: hover) {
  .survey_questions {
    .option {
      &:hover {
        background-color: $primary-accent-06;
      }

      &:active {
        background-color: $primary-accent-06;
      }
    }
  }

  .submit_btn {
    &:hover {
      svg {
        path {
          stroke: $text-color;
        }
      }
    }
    &:active {
      svg {
        path {
          stroke: $text-color !important;
        }
      }
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .survey_modal {
    border-radius: 25px;
    padding: 15px;

    .description {
      @include clamped-p4();
    }
  }

  .close_button {
    height: 24px;
  }

  .submit_btn {
    height: 40px;
    margin-top: 10px;
  }

  .bottom_els {
    .question {
      height: 180px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .submit_btn {
    svg {
      height: 20px;
      width: auto;
    }
  }
}
