.section_wrapper {
  display: flex;
  @include flex-column();
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: fit-content;
  gap: 40px;
  max-height: 520px;
  margin-bottom: 140px;

  .left_side {
    position: relative;
    max-height: 100%;
    width: 40%;
    border: 2px solid $hover-color;
    border-radius: 20px;
    padding: 40px;
    @include flex-center();

    svg {
      height: 60%;
      width: auto;

      path,
      rect {
        stroke: $hover-color-darken-analogue;
        stroke-width: 8px;
      }
    }

    img {
      width: auto;
      max-height: 100%;
      aspect-ratio: 9/14;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: $middle-breakpoint) {
      width: 55%;
    }

    @media (max-width: $tablet-breakpoint) {
      width: 100%;
      height: 400px;
      padding: 20px;
    }
  }

  .right_side {
    max-height: 100%;
    min-height: 100%;
    flex: 1;
    @include flex-column();
    gap: 50px;
    justify-content: space-between;

    @media (max-width: $middle-breakpoint) {
      width: 100%;
      max-width: 100%;
      gap: 30px;
    }

    @media (max-width: $mobile-breakpoint) {
      width: 100%;
      max-width: 100%;
      gap: 25px;
    }

    .info {
      @include clamped-p3();
      color: $accent-glass;
      @include flex-column();
      gap: 10px;
      justify-content: flex-start;
      align-items: flex-start;
      height: fit-content;

      @media (max-width: $tablet-breakpoint) {
        gap: 5px;
      }

      .highlight {
        color: $hover-color-dark;
        text-transform: capitalize;
      }

      .formats_field {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;

        .formats {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    flex-direction: column;
    gap: 30px;
    max-height: fit-content;
    width: 100%;
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-breakpoint) {
    gap: 25px;
    margin-bottom: 60px;

    .right_side {
      .info {
        .formats_field {
          .formats {
            gap: 0;

            svg {
              height: 30px;
              width: auto;
            }
          }
        }
      }
    }
  }
}

.hero {
  @include flex-column();
  gap: 30px;

  h3 {
    @include clamped-h3();
    text-transform: uppercase;
    color: $accent;
    font-weight: 500;
  }
}

.highlight {
  color: $primary;
}

.failed_to_load {
  text-align: center;
  @include clamped-p2();
  margin-top: 40px;
}

@media (max-width: $mobile-breakpoint) {
  .section_wrapper {
    gap: 20px;
  }

  .failed_to_load {
    margin-top: 20px;
  }

  .hero {
    gap: 25px;
  }
}
