$hoverColor: $primary;

.navButton {
  color: $text-color-accent;
  font-size: 20px;
  @include transition();
  @include flex-center;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;

  &.vertical {
    flex-direction: column;
    gap: 5px;
    font-size: 12px;

    .icon {
      width: 23px;
      height: 23px;
      margin-bottom: auto;
    }
  }

  .icon_wrapper {
    position: relative;
    display: flex;
  }

  .quantity_circle {
    @include transition();
    @include flex-center;
    position: absolute;
    top: -3px;
    right: -8px;
    background-color: $secondary;
    color: $text-color;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .icon {
    height: 30px;
    width: auto;

    path {
      @include transition;
      stroke: $accent;
    }
  }

  &.active {
    color: $hoverColor;
    .icon {
      path {
        stroke: $hoverColor;
      }
    }
  }

  &.light {
    color: $background-color;

    .icon {
      path {
        stroke: $background-color;
      }
    }
  }

  &.light.active {
    color: $accent;

    .icon {
      path {
        stroke: $accent;
      }
    }
  }

  //@media (hover: hover) {
  &:hover {
    color: $hoverColor;
    .quantity_circle {
      background-color: $hoverColor;
    }
    .icon {
      path {
        stroke: $hoverColor;
      }
    }
  }

  &.light:hover {
    color: $accent;

    .icon {
      path {
        stroke: $accent;
      }
    }
  }
  //}

  &.footer {
    color: $background-color;

    .icon {
      path {
        stroke: $background-color;
      }
    }
  }

  @media (hover: hover) {
    &.footer:hover {
      color: $primary;

      .icon {
        path {
          stroke: $primary;
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .navButton {
    gap: 5px;
    font-size: 16px;

    .quantity_circle {
      @include fadeIn();
      width: 17px;
      height: 17px;
      font-size: 9px;
    }

    &.vertical {
      gap: 3px;
    }

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}
