:root {
  --mantine-color-body: #edf8ff;

  --token-text-base: #01433d;

  --input-placeholder-color: #5b6968;
  --token-color-secondary-gray: #5b6968;
  --token-color-main: #7fdfd5;

    /* 360 */
  --mantine-h1-font-size:  40px;
  --mantine-h1-line-height: 52px;
  --mantine-h1-font-weight: 400 !important;
  --mantine-font-family-headings: Rethink Sans;

  --mantine-h2-font-size:  26px;
  --mantine-h2-line-height: 34px;
  --mantine-h2-font-weight: 400 !important;

  --mantine-h3-font-size:  20px;
  --mantine-h3-line-height: 26px;
  --mantine-h3-font-weight: 400 !important;

  --mantine-h4-font-size:  16px;
  --mantine-h4-line-height: 20.83px;
  --mantine-h4-font-weight: 400 !important;

  --mantine-font-size-xl: 20px;
  --mantine-line-height-xl: 26.04px;
  --mantine-font-weight-xl: 400 !important;

  --mantine-font-size-lg: 16px;
  --mantine-line-height-lg: 20.83px;
  --mantine-font-weight-lg: 400 !important;

  --mantine-font-size-md: 14px;
  --mantine-line-height-md: 18.23px;
  --mantine-font-weight-md: 400 !important;

  --token-spacing-6xl: 48px;
  --token-spacing-5xl: 40px;
  --token-spacing-4xl: 32px;
  --token-spacing-3xl: 24px;
  --token-spacing-2xl: 20px;
  --token-spacing-xl: 16px;
  --token-spacing-l: 12px;
  --token-spacing-m: 8px;
  --token-spacing-s: 6px;
  --token-spacing-xs: 4px;
  --token-spacing-xxs: 2px;
}
