.analytics_page {
  @include flex-column;
  gap: 20px;
}

.date_input {
  border: 1px solid $accent;
  padding: 5px 10px;
  border-radius: 10px;
}

.analytics_options {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.analytics_options_three {
  grid-template-columns: 1fr 1fr 1fr;
}

.totals_row {
  @include clamped-p2;
  display: flex;
  gap: 20px;
  align-items: flex-start;

  span {
    margin-left: 5px;
  }
}

.languages_table {
  height: 100%;
  flex: 1;
}

.input_wrapper {
  @include clamped-p2;
  @include flex-column;
  position: relative;
  gap: 5px;

  input {
    width: 100%;
    min-height: 35px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .analytics_options {
    grid-template-columns: 1fr 1fr;
  }

  .totals_row {
    justify-content: space-between;
  }

  //.languages_table {
  //  width: 100%;
  //}
}
