.analytics_page {
  @include flex-column;
  gap: 20px;

  h2 {
    width: 100%;
    text-align: center;
    @include clamped-h2;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}

.tooltip {
  @include clamped-p3;
  background-color: $background-color;
  border-radius: 10px;
  border: 1px solid $hover-color;
  padding: 5px;
}

.tooltip_date {
  text-align: center;
  margin-bottom: 5px;
}

.two_items {
  gap: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.chart_container {
  color: $accent;
  @include clamped-p3;

  tspan {
    @include clamped-p4;
  }
}

.analytics_options {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-end;
  gap: 20px;

  p {
    display: flex;
    justify-content: center;
    gap: 5px;
    @include clamped-p2();
  }
}

.analytics_options_three {
  grid-template-columns: 1fr 1fr 1fr;
}

.languages_table {
  height: 100%;
  flex: 1;
}

.languages_content {
  @include flex-column;
  gap: 20px;
}

@media (max-width: $mobile-breakpoint) {
  .two_items {
    display: flex;
    flex-direction: column;
  }

  .analytics_options {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .analytics_page {
    h2 {
      margin-bottom: 20px;
    }
  }

  //.languages_table {
  //  width: 100%;
  //}
}
