.analytics_page {
  @include flex-column;
  gap: 20px;

  h2 {
    width: 100%;
    text-align: center;
    @include clamped-h2;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}

.chart_container {
  color: $accent;
  @include clamped-p3;
}

.analytics_options {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-end;
  gap: 20px;

  p {
    display: flex;
    justify-content: center;
    gap: 5px;
    @include clamped-p2();
  }
}

.analytics_options_three {
  grid-template-columns: 1fr 1fr 1fr;
}

.languages_table {
  height: 100%;
  flex: 1;
}

@media (max-width: $mobile-breakpoint) {
  .analytics_options {
    grid-template-columns: 1fr 1fr;
  }

  .analytics_page {
    h2 {
      margin-bottom: 20px;
    }
  }

  //.languages_table {
  //  width: 100%;
  //}
}
