.detail_container {
  @include flex-column;
  gap: 80px;
}

.list {
  @include flex-column;
  gap: 40px;

  h2 {
    text-align: center;
    @include clamped-h2;
  }

  .two_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .input_button_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
  }
}

.inner_list {
  @include flex-column;
  gap: 40px;
  padding: 0 40px;
}

.list_header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $mobile-breakpoint) {
  .inner_list {
    padding: 0 10px;
  }

  .list_header {
    flex-direction: column;
    gap: 10px;
  }

  .list {
    gap: 20px;
    .two_items {
      @include flex-column;
    }
  }

  .detail_container {
    gap: 40px;
  }
}
