.buy_section {
  @include flex-column;
  gap: 15px;
  position: relative;
  align-items: center;
  border-radius: 60px;
  padding: 45px 80px 20px;
  margin-top: 35px;
  border: 1px solid $primary;
  background-color: $primary-02;

  button {
    min-width: unset;
  }

  &.books {
    border-color: $secondary-lighter;
    background-color: $secondary-lighter-02;

    .professor_access {
      color: $secondary;
    }

    .new_price {
      color: $secondary-lighter;
    }

    .clock_icon {
      path {
        fill: $secondary-lighter;
      }
    }
  }

  &.both {
    border-color: $green;
    background-color: $green-02;

    .professor_access {
      color: $tertiary;
    }

    .new_price {
      color: $green;
    }

    .clock_icon {
      path {
        fill: $green;
      }
    }
  }
}

.new_price {
  color: $primary;
}

.clock_icon {
  position: absolute;
  left: 20px;
  path {
    fill: $primary;
    stroke-width: 0.5;
  }
}

.buy_section_desc {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  @include clamped-p1-line-height;
}

.professor_access {
  text-align: center;
  gap: 10px;
  color: $tertiary;
  text-transform: uppercase;
  @include clamped-h3;
}

@media (max-width: $mobile-breakpoint) {
  .buy_section {
    border-radius: 40px;
    padding: 30px 15px 10px;
    gap: 10px;
  }

  .buy_section_desc {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
